meta(charset='utf-8')
block title
  title Kitearound — kitesurfing comminity | Spots, tricks, schools, brands
meta(name='viewport', content='initial-scale=1')
link(rel='stylesheet', media='screen', href='css/style.css')
link(rel='stylesheet', media='screen', href='components/bootstrap-select/css/bootstrap-select.min.css')
link(rel='stylesheet', media='screen', href='components/fixedsticky/fixedsticky.css')
link(rel='stylesheet', media='screen', href='components/photoswipe/photoswipe.css')
link(rel='stylesheet', media='screen', href='components/photoswipe/default-skin/default-skin.css')

<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
<![endif]-->

link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-touch-icon-180x180.png')
link(rel='shortcut icon', href='img/favicon/favicon.ico')
link(rel='icon', type='image/png', href='img/favicon/favicon-192x192.png', sizes='192x192')
link(rel='icon', type='image/png', href='img/favicon/favicon-160x160.png', sizes='160x160')
link(rel='icon', type='image/png', href='img/favicon/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/png', href='img/favicon/favicon-16x16.png', sizes='16x16')
link(rel='icon', type='image/png', href='img/favicon/favicon-32x32.png', sizes='32x32')
meta(name='msapplication-TileColor', content='#000000')
meta(name='msapplication-TileImage', content='img/favicon/mstile-144x144.png')
meta(name='msapplication-config', content='img/favicon/browserconfig.xml')
