mixin carousel(id, ...items)
	div.carousel.slide(id=id, data-ride='carousel', data-interval='false')
		- var idhash = "#" + id
		ol.carousel-indicators
			li.active(data-target=idhash, data-slide-to='0')
			li(data-target=idhash, data-slide-to='1')
			li(data-target=idhash, data-slide-to='2')
		.carousel-inner(role='listbox')
			- var count = 0
			each item in items
				- count++
				if count == 1
					.item.active
						img(src=item).img-responsive
				else
					.item
						img(src=item).img-responsive
		a.left.carousel-control(href=idhash, role='button', data-slide='prev')
			i.fa.fa-chevron-left(aria-hidden='true')
			span.sr-only Previous
		a.right.carousel-control(href=idhash, role='button', data-slide='next')
			i.fa.fa-chevron-right(aria-hidden='true')
			span.sr-only Next

mixin social-widget
	.row
		.col-md-6.col-md-push-6
			+social-votes("30k", "social-votes-post")
		.col-md-6.col-md-pull-6
			+user-karma-timestamp

mixin user-karma-timestamp
	a(href="user.html").user-block.user-block-time
		img(src="img/content/user04.jpg").user-pic
		.user-name-karma
			.user-name North kiteboarding
			| &nbsp;
			.user-karma 125
		.timestamp 6 month ago

mixin social-widget-compact(usernum, username)
	.row
		.col-md-6.col-md-push-6
			.social.social-post
				+social-comments(745)
				+social-tags(20)
				+social-votes("30k", "social-votes-post")
		.col-md-6.col-md-pull-6
			a(href="user.html").user-block.user-block-time
				- var usersrc = "img/content/user"+usernum+".jpg"
				img(src=usersrc).user-pic
				.user-name-karma
					.user-name
					= username
					| &nbsp;
					.user-karma 125
				.timestamp 6 month ago

mixin social-votes(karma, cssclass)
	- var karmatext = "+" + karma
	.social-votes(class=cssclass)
		a.js.vote-up
			i.fa.fa-thumbs-o-up
		span.votes
			= karmatext
		a.js.vote-down
			i.fa.fa-thumbs-o-down

mixin social-tags(tagsnum)
	.social-tags
		a.js
			i.fa.fa-tag
			= tagsnum

mixin social-comments(commentsnum)
	.social-comments
		a.js
			i.fa.fa-comments-o
			= commentsnum

mixin comments-form(placeholdertext)
	.comments-form
		textarea.form-control.mgst(rows="3", placeholder=placeholdertext)
		button(type="button").btn.btn-default.mgst Post a comment

mixin comments-list
	+comments-form("Your comment goes here")
	.comments-list
		.comments-entry
			.comments-entry-header
				a(href="user.html").user-block.user-block-time
					img(src="img/content/user01.jpg").user-pic
					.user-name-karma
						.user-name freerider
						| &nbsp;
						.user-karma 125
					.timestamp 3 hours ago
				+social-votes("12k", "opla")
			.comments-text
				p Why all great riders are selling for money? I don't understand this! Lenten, Zoon, now Hadlow. I quit kiteboarding, better start playing chess from now. I hate you, people.
		.comments-entry
			.comments-entry-header
				a(href="user.html").user-block.user-block-time
					img(src="img/content/user02.jpg").user-pic
					.user-name-karma
						.user-name f16 shredder
						| &nbsp;
						.user-karma 18
					.timestamp 3 hours ago
				+social-votes("983")
			.comments-text
				p Relax, man. Maybe he likes North kites colors more, than Flexi's.
		.comments-entry
			.comments-entry-header
				a(href="user.html").user-block.user-block-time
					img(src="img/content/user03.jpg").user-pic
					.user-name-karma
						.user-name shriboomer
						| &nbsp;
						.user-karma 50
					.timestamp 3 hours ago
				+social-votes("3")
			.comments-text
				p Hehe, why don't everyone stop whining around and go for a good session? I'm sure Hadlow is having a good one now.
	+pagination

mixin pagination(cssclass)
	nav
		ul.pagination(class=cssclass)
			li.disabled
				a(href='#', aria-label='Previous')
					span(aria-hidden='true')
						i.fa.fa-chevron-left
			li.active
				a(href='#')
					| 01
					span.sr-only (current)
			li
				a(href='#') 02
			li
				a(href='#') 03
			li
				a(href='#') 04
			li
				a(href='#') 05
			li
				a(href='#', aria-label='Next')
					span(aria-hidden='true')
						i.fa.fa-chevron-right

mixin menu-content
	.menu-content
		ul
			li
				a(href="map.html") Maps
			li
				a(href="post-list.html") News
			li
				a(href="spot-list-atlas.html") Spots
			li
				a(href="shop-list.html") Shops
			li
				a(href="video-list.html") Videos
			li
				a(href="trick-list.html") Tricks
			li
				a(href="event-list.html") Events
			li
				a(href="school-list.html") Schools

mixin photo-gallery
	.container-no-padding
		.img-treemap.img-treemap-5(itemscope='', itemtype='http://schema.org/ImageGallery')
			+photo-gallery-item("img/content/spot-04.jpg", 1000, 556, "Guincho kitesurfing", "Lonely guy with a kite", "Joaquim Alves Gaspar")
			+photo-gallery-item("img/content/spot-05.jpg", 1000, 750, "Guincho kitesurfing", "Beach overview", "Joaquim Alves Gaspar")
			+photo-gallery-item("img/content/spot-06.jpg", 1280, 854, "Guincho kitesurfing", "Some guy shredding", "Joaquim Alves Gaspar")
			+photo-gallery-item("img/content/spot-04.jpg", 1000, 556, "Guincho kitesurfing", "Lonely guy with a kite", "Joaquim Alves Gaspar")
			+photo-gallery-item("img/content/spot-07.jpg", 560, 344, "Guincho kitesurfing", "Another guy shredding", "Joaquim Alves Gaspar")
		.clearfix

mixin photo-gallery-item(imgsrc, width, height, alt, caption, author)
	- style = 'background: url("' + imgsrc + '") no-repeat center center; background-size: cover;'
	figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
		a(href=imgsrc, itemprop='contentUrl', data-size=width + 'x' + height, data-author=author)
			.img-treemap-item(style=style, itemprop='thumbnail', alt=alt)
		meta(itemprop='width', content=width)
		meta(itemprop='height', content=height)
		figcaption(itemprop='caption description')
			= caption

mixin card(href, category, header, color, imgsrc, likes, comments)
	- var colorclass = "card-" + color
	.card(class=colorclass)
		a(href=href)
			.card-category
				= category
			h2
				= header
			if likes !== undefined || comments !== undefined
				.card-like-comment
					if likes !== undefined
						.card-like-count
							i.fa.fa-thumbs-o-up
							= likes
					if comments !== undefined
						.card-comment-count
							i.fa.fa-comment-o
							= comments

		if imgsrc !== undefined
			- styleFromBg = function(imgsrc) { return 'background: url("' + imgsrc + '") no-repeat center center; background-size: cover;' ;}
			- var style = styleFromBg(imgsrc)
		.card-img(style=style)

mixin schools-table
	table.table
		tr
			th Name
			th Price for 1 hour
			th KA rating
			th Certificate
		tr
			td
				a(href="school.html") Surf4you
			td 50€
			td +45
			td
				img(src="img/icons/iko.svg").img-iko
		tr
			td
				a(href="school.html") Surfpoint
			td 60€
			td +25
			td
				img(src="img/icons/iko.svg").img-iko
		tr
			td
				a(href="school.html") Dragon Tarifa
			td 70€
			td +12
			td
				img(src="img/icons/bksa.svg").img-bksa
		tr
			td
				a(href="school.html") Tarifa Max
			td 60€
			td +4
			td —

mixin tag-list(hasactivetag)
	ul.tag-list.margin-standard
		li
			a(href="tag.html").tag north
		li
			a(href="tag.html").tag hadlow
		if hasactivetag
			li
				a(href="tag.html").tag.active wakestyle
		li
			a(href="tag.html").tag moneycantbuyeverything
		li
			a(href="tag.html").tag prorider
		li
			a(href="tag.html").tag cmonwtf
		li
			a(href="tag.html").tag transfer
		li
			a(href="tag.html").tag flexifoil
		li
			a(href="tag.html").tag me
		li
			a(href="tag.html").tag north
		li
			a(href="tag.html").tag prorider
		li
			a(href="tag.html").tag hadlow
		li
			a(href="tag.html").tag wakestyle
		li
			a(href="tag.html").tag transfer
		li
			a(href="tag.html").tag flexifoil

mixin share-widget(ispaddedbottom, ifdisabled)
	if ifdisabled === undefined
		- ifdisabled = {}
	.share-widget.fixedsticky
		if ifdisabled.facebook === undefined
			.share-widget-facebook
				a.js
					i.fa.fa-facebook
					span.share-widget-count 1233
		if ifdisabled.twitter === undefined
			.share-widget-twitter
				a.js
					i.fa.fa-twitter
					span.share-widget-count 39
		if ifdisabled.pinterest === undefined
			.share-widget-pinterest
				a.js
					i.fa.fa-pinterest
					span.share-widget-count 5
		if ifdisabled.comments === undefined
			.share-widget-comments
				a.js(href="#comments")
					i.fa.fa-comments
					span.share-widget-count 1709
		if ifdisabled.tags === undefined
			.share-widget-tags
				a.js(href="#tags")
					i.fa.fa-tag
					span.share-widget-count 15
		if ifdisabled.votes === undefined
			.share-widget-votes
				+social-votes("3")
	if ispaddedbottom
		.mgst

mixin like-count(likes)
	if likes !== undefined
		i.fa.fa-thumbs-o-up
			.like-count
				= likes

mixin select-wind-statistics
	select.form-control
		option —
		option 0
		option 5
		option 10
		option 15
		option 20
		option 25
		option 30
		option 35
		option 40
		option 45
		option 50
		option 55
		option 60
		option 65
		option 70
		option 75
		option 80
		option 85
		option 90
		option 95
		option 100