.fullw#header(class=header_overlay ? 'header-overlay' : '')
	.header-border
		a(href="index.html")#logo-link
			#logo-img(class=logofull ? 'logo-img-full' : '')
		+menu-content
		.sidebar-right
			.menu-button
				a.js
					i.ka-icon.ka-menu
			.login
				a.js
					i.ka-icon.ka-login
.fullw.collapse#menu
	+menu-content
.header-margin