@import "src/less/variables.less";

@font-face {
    font-family: 'AvenirNextCyrLight';
    src: url('../fonts/AvenirNextCyrLight.eot');
    src: url('../fonts/AvenirNextCyrLight.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrLight.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrLight.woff') format('woff'),
         url('../fonts/AvenirNextCyrLight.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrLight.svg#AvenirNextCyrLight') format('svg');
}
@font-face {
    font-family: 'AvenirNextCyrRegular';
    src: url('../fonts/AvenirNextCyrRegular.eot');
    src: url('../fonts/AvenirNextCyrRegular.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrRegular.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrRegular.woff') format('woff'),
         url('../fonts/AvenirNextCyrRegular.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrRegular.svg#AvenirNextCyrRegular') format('svg');
}
@font-face {
    font-family: 'AvenirNextCyrDemi';
    src: url('../fonts/AvenirNextCyrDemi.eot');
    src: url('../fonts/AvenirNextCyrDemi.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrDemi.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrDemi.woff') format('woff'),
         url('../fonts/AvenirNextCyrDemi.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrDemi.svg#AvenirNextCyrDemi') format('svg');
}
@font-face {
    font-family: 'AvenirNextCyrLightItalic';
    src: url('../fonts/AvenirNextCyrLightItalic.eot');
    src: url('../fonts/AvenirNextCyrLightItalic.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrLightItalic.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrLightItalic.woff') format('woff'),
         url('../fonts/AvenirNextCyrLightItalic.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrLightItalic.svg#AvenirNextCyrLightItalic') format('svg');
}