// 2DO: rewrite to get rid of most of prefixes

// Transition mixin
.transition(@property:all, @duration:0.2s, @ease:ease-out) {
	transition: @property @duration @ease;
}

// Rotation mixin
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform:    rotate(@deg);
	-ms-transform:     rotate(@deg);
	-o-transform:      rotate(@deg);
}

// Vertical center
// You need to specify height in target block for this mixin to work
.vertical-center {
	overflow: none;
	margin: auto;
	&:extend(.abs100);
}

// Absolute 100% width 100% height
.abs100 {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}


// CCS3 columns
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
	-moz-column-width: @colwidth;
	-moz-column-count: @colcount;
	-moz-column-gap: @colgap;
	-moz-column-rule-color: @columnRuleColor;
	-moz-column-rule-style: @columnRuleStyle;
	-moz-column-rule-width: @columnRuleWidth;
	-webkit-column-width: @colwidth;
	-webkit-column-count: @colcount;
	-webkit-column-gap: @colgap;
	-webkit-column-rule-color: @columnRuleColor;
	-webkit-column-rule-style: @columnRuleStyle;
	-webkit-column-rule-width: @columnRuleWidth;
	column-width: @colwidth;
	column-count: @colcount;
	column-gap: @colgap;
	column-rule-color: @columnRuleColor;
	column-rule-style: @columnRuleStyle;
	column-rule-width: @columnRuleWidth;
}


// Background-cover. You need to use "background-size: cover;" after this mixin
.bg-cover {
	background-cover: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

// Standard margin bottom mixin
.margin-multiplier (@multiplier: 1) {
	margin-bottom: 20 * @multiplier * @pr;
}

// Standard padding top mixin
.padding-top-multiplier (@multiplier: 1) {
	padding-top: 20 * @multiplier * @pr;
}

// Standard padding bottom mixin
.padding-bottom-multiplier (@multiplier: 1) {
	padding-bottom: 20 * @multiplier * @pr;
}

// Horizontal line and centered text
// http://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle
.horizontal-line-with-text {
	overflow: hidden;
	&:before, &:after {
		position: relative;
		width: 50%;
		display: inline-block;
		height: 1px;
		content: "";
		vertical-align: middle;
		background-color: fade(@brand-white, 20%);
	}
	&:before {
		right: 0.5em;
		margin-left: -50%;
	}
	&:after {
		left: 0.5em;
		margin-right: -50%;
	}
}

// Aspect ratio
// http://martinbean.co.uk/blog/2013/09/12/maintaining-aspect-ratio-in-css/
.aspect(@width:2, @height:1) {
	height: 0;
	padding-bottom: percentage(@height/@width);
}

// Card colors
.card-color(@color-bg: @brand-black, @color-line: @color-bg) {
	.card-img {
		// Color of overlay
		&:before {
			background-color: fade(@color-bg, 50%);
		}
		// Color of background (no image case)
		background-color: fade(@color-bg, 80%);
	}
	// Color of overlay on hover
	a:hover + .card-img:before {
		background-color: fade(@color-bg, 25%);
	}
	// Color of background on hover (if there is no img)
	a:hover + .card-img {
		background-color: fade(@color-bg, 50%);
	}
	// Borders for cards for social networks
	.page-card & {
		border-top: 14px solid @color-line;
		.card-img {
			// Color of overlay
			&:before {
				background-color: fade(@color-bg, 70%);
				mix-blend-mode: multiply;
			}
		}
	}
}