@import "src/less/bootstrap-custom.less";
@import "src/less/variables.less";
@import "src/less/fonts.less";
@import "src/less/mixins.less";
@import "bower_components/components-font-awesome/less/font-awesome.less";
@import "public/fonts/ka-icons.less";

// Layout font base for calculations
@rem-base-xs: 18px;
@rem-base-sm: 22px;

// Pixel 2 rem converter
@pr: (1 / 18rem);
@pr2: (1 / 22rem);

// Media queries shortcuts
@xs: ~"(max-width: @{screen-sm-min})";
@br480: ~"(min-width: 480px)";
@sm: ~"(min-width: @{screen-sm-min})";
@sm-max: ~"(max-width: @{screen-sm-min})";
@md: ~"(min-width: @{screen-md-min})";
@lg: ~"(min-width: @{screen-lg-min})";

// Colors
@brand-green: #00ba5b;
@brand-green-buttons: #00c34b;
@brand-green-buttons-hover: #37e075;
@brand-green-buttons-active: #008f37;
@brand-green-alert-bg: #8eeda9;
@brand-green-alert-text: #008f37;
@brand-red: #ff4400;
@brand-blue: #00c4ff;
@brand-blue-link: #0084ff;
@brand-blue-link-hover: #00509c;
@brand-blue-link-visited: #666bff;
@brand-blue-tag: #29c4ff;
@brand-logo: #0088a3;
@brand-text-body: #595959;
@brand-grey-text: #8c8c8c;
@brand-grey-icon: #999999; // Inactive icons, subtext
@brand-grey-forms-bg: #efefef;
@brand-grey-border: #ededed;
@brand-grey-border-th: #656565;
@brand-grey-border-td-header: #b2b2b2;
@brand-grey-border-td: #cccccc; // Inactive icons, dividers
@brand-grey-divider: @brand-grey-border-td;
@brand-grey-text-td: #191919; // Text Input, menu divider, menu Background
@brand-grey-border-header: #ebebeb;
@brand-white: #fff;
@brand-white-text: @brand-white;
@brand-peach: #ee5f47;
@brand-black: #000;
@brand-gradient1: #002e53;
@brand-gradient2: #007078;
@card-rapsberry: #cc003d;
@card-purple: #6e006e;
@card-blue: #0086ff;
@card-green: #00a2ad;
@facebook: #2d609b;
@twitter: #00c3f3;
@pinterest: #ca2029;


// Typography mixins
// Used for buttons
.spacing2 {
	letter-spacing: 0.050em;
}
.font-default {
	font-weight: normal;
	font-style: normal;
}
.avenir-light {
	&:extend(.font-default);
	font-family: 'AvenirNextCyrLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.avenir-demi {
	&:extend(.font-default);
	font-family: 'AvenirNextCyrDemi', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.avenir-regular {
	&:extend(.font-default);
	font-family: 'AvenirNextCyrRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.avenir-light-italic {
	&:extend(.font-default);
	font-family: 'AvenirNextCyrLightItalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font-noscale {
	&:extend(.font-default);
	font-size: @rem-base-xs;
}
.font-table {
	&:extend(.font-default);
	font-size: 14px;
	@media @sm {
		font-size: 16px;
	}
}
.font-smaller {
	font-size: 16px;
	@media @br480 {
		font-size: 18px;
	}
	@media @sm {
		font-size: 22px;
	}
}
.font-big-infographic {
	font-size: 2rem;
	@media @sm {
		font-size: 3rem;
	}
}
.font-card-category {
	font-size: 10 * @pr;
}
.font-h2 {
	font-size: 26 * @pr;
}


/*
1. Character count per line should be in range of 50-75
2. Container, that is bigger, gets margins left and right
*/

.container-common {
	margin-left: auto;
	margin-right: auto;
	max-width: 40rem;
}

.container-fluid {
	&:extend(.container-common);
	padding-left: 20px;
	padding-right: 20px;
	@media @sm {
		padding-left: 40px;
		padding-right: 40px;
	}
}
// This container should be put inside to eliminate paddings
.container-no-padding {
	margin-left: -20px;
	margin-right: -20px;
	@media @sm {
		margin-left: -40px;
		margin-right: -40px;
	}
}

body {
	background: #eee url('../img/bg.png') repeat center center;
	background-size: 384px 40px;
	// 2DO rewrite to use Autoprefixer
	@media (-webkit-min-device-pixel-ratio: 2) {
		background-image: url('../img/bg@2x.png');
	}
}

// Font size, REM-base
html, body, p {
	font-size: @rem-base-xs;
	@media @sm {
		font-size: @rem-base-sm;
	}
}

// Margin reset
p, ul, ol, h1, h2, h3, .form-group, hr {
	margin: 0;
}

// Standard margin-bottom on all elements to create a vertical rhythm

.margin-multiplier (@multiplier: 1) {
	margin-bottom: 20 * @multiplier * @pr;
}

.mgst {
	.margin-multiplier(1);
}
.mgst2x {
	.margin-multiplier(2);
}
.mgst3x {
	.margin-multiplier(3);
}
.mgst0x {
	.margin-multiplier(0);
}
.mgst50p {
	.margin-multiplier(0.5);
}

.bgst {
	background: @brand-white;
}
.container-st {
	&:extend(.bgst);
	.padding-bottom-multiplier(3);
}
p, ul, ol, table.table, .margin-standard, .social, .user-block, .table-responsive, .carousel, .map, .video, .form-group {
	&:extend(.mgst);
}
h1, h2, h3, h4 {
	line-height: 1.2em;
	a & {
		color: @brand-blue-link;
	}
	a:visited & {
		color: @brand-blue-link-visited;
	}
}
p {
	line-height: 1.4em;
}
.h1-padding {
	padding-top: 50 * @pr;
}
h1 {
	font-size: 30 * @pr;
	&:extend(.h1-padding);
	&:extend(.mgst);
	&.h1-micro {
		font-size: 14px;
		margin: 0;
		padding-top: 20 * @pr;
		padding-bottom: 20 * @pr;
		.text-uppercase;
	}
}
h2 {
	&:extend(.font-h2);
	padding-top: 30 * @pr;
	&:extend(.mgst);
}
.h3-padding {
	padding-top: 20 * @pr;
}
h3 {
	font-size: 22 * @pr;
	&:extend(.h3-padding);
	&:extend(.mgst);
}
h1 {
	.avenir-demi;
	.nobold {
		display: inline;
		.avenir-regular;
	}
}
h3 {
	color: @text-color;
	.avenir-demi;
}
.date {
	.text-uppercase;
	font-size: 0.75rem;
	color: darken(@text-color, 20%)
}
strong {
	.avenir-demi;
}
i {
	.avenir-light-italic;
}
// Style to use instead of href="#", which is bad practice
a.js {
	cursor: pointer;
}
a.nodecor:hover {
	text-decoration: none !important;
	h2 {
		.transition(color);
	}
}

// 2DO refactor to use transitions at the same time (different syntax) and to use Autoprefixer
a {
	// .transition(text-decoration);
	.transition(color);
	&.btn {
		.transition(background-color);
	}
	&:hover {
		color: @brand-blue-link-hover;
	}
	&:visited {
		color: @brand-blue-link-visited;
	}
}

button {
	.transition(background-color);
	// .transition(color);
}

.tag {
	.label;
	&:extend(.avenir-regular);
	background-color: @brand-white;
	border-radius: 1rem;
	border: 2px solid @brand-blue-tag;
	color: @brand-blue-tag;
	font-weight: normal;
	h2 & {
		font-size: inherit;
		padding: .15em .6em .25em;
		text-transform: initial;
		.avenir-light;
		border-radius: 1.3rem;
	}
	h1 & {
		border-radius: 1.3rem;
	}
}
a.tag {
	.transition(background-color);
	&:hover {
		background-color: @brand-blue-tag;
	}
	&.active {
		background-color: @brand-blue-tag;
		color: @brand-white;
	}
}


ol ul {
	padding-left: 1rem;
}

ul.tag-list {
	padding: 0;
	margin-bottom: 0;
	li {
		display: inline-block;
		margin-right: 0.3rem;
		margin-bottom: 0.6rem;
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}
}

// MENU and HEADER

.menu-icon-open-close {
	font-size: 26px;
}

@header-height: 70px;

#header {
	a#logo-link {
		display: block;
		padding: 14px 0;
		max-width: 150 * @pr;
	}
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: linear-gradient(to right, @brand-gradient1 , @brand-gradient2);
	&.header-overlay {
		background: rgba(0, 0, 0, 0.4);
	}
}
.header-border {
	height: @header-height;
	position: relative;
	margin-left: 20 * @pr;
	margin-right: 20 * @pr;
}

#logo-img {
	background: url("../img/logo-white-400x400.svg") no-repeat left top;
	width: 40px;
	height: 40px;
	@media (min-width: @screen-xs) and (max-width: @screen-md) {
		background-image: url("../img/logo-white-full.svg");
		width: 187px;
		height: 40px;
	}
	@media (min-width: @screen-lg) {
		background-image: url("../img/logo-white-full.svg");
		width: 187px;
		height: 40px;
	}
}

.sidebar-right {
	position: absolute;
	top: 0;
	right: -20px;
	.menu-button, .login {
		float: right;
		a {
			display: block;
			padding: 20px;
			color: @brand-white-text;
			&:hover {
				color: lighten(@brand-logo, 15%);
			}
		}
		i {
			.menu-icon-open-close;
		}
	}
	.login {
		right: 60px;
	}
	.menu-button {
		.visible-xs-inline;
		.visible-sm-inline;
		right: 0px;
		&.opened {
			background-color: @brand-logo;
			a { color: #fff; }
		}
		.transition(background-color);
	}
}

.menu-content {
	width: 100%;
	ul {
		.list-unstyled;
		li a {
			.text-uppercase;
			.avenir-demi;
			&:extend(.spacing2);
			&:extend(.font-noscale);
		}
	}
}

#menu {
	.visible-xs-block;
	.visible-sm-block;
	background: fade(@brand-grey-border-header, 95);
	z-index: 999;
	position: absolute;
	left: 20 * @pr;
	right: 20 * @pr;
	top: @header-height;
	.text-center;
	.menu-content {
		ul {
			padding-top: 20 * @pr;
			li {
				padding-top: 10 * @pr;
				padding-bottom: 10 * @pr;
			}
		}
	}
}

#header .menu-content {
	.visible-md-block;
	.visible-lg-block;
	ul {
		display: block;
		position: absolute;
		top: 18px;
		left: 116px; // Stops overlapping with logo and login buttons
		right: 116px;
		text-align: center;
		// 2DO: there is a bug, that stops #logo-img from receiving mouse events, because .menu-content is overlapping it. Needs to rewrite.
		@media @lg {
			left: 220px; // Stops overlapping with logo and login buttons
			right: 220px;
		}
	}
	li {
		display: inline-block;
		padding-right: 14*@pr;
	}
	a {
		color: @brand-white;
	}
}

.header-margin, .header-margin-inside {
	margin-bottom: 70px;
}

#footer {
	&:extend(.padding-top-1);
	.text-center;
	background-color: @brand-grey-border-header;
	#logo-bottom {
		background-color: @brand-black;
		width: 110px;
		margin-right: auto;
		margin-left: auto;
	}
	#logo-bottom-img {
		width: 70px;
		height: 70px;
	}
	#credits {
		padding-top: 1rem;
		font-size: 0.7rem;
	}
	.menu-content ul li {
		display: inline-block;
		padding-left: .4em;
		padding-right: .4em;
		a {
			&:extend(.avenir-light);
			text-transform: none;
		}
	}
}

// Vote widget
.social-votes, .vote-block {
	.vote-up {
	}
	.vote-down {
	}
	.votes {
		.avenir-demi;
		.text-center;
		color: @brand-black;
		display: inline-block;
		padding-right: 0.4em;
		padding-left: 0.4em;
		width: 3.2em;
		@media @br480 {
			width: 4em;
		}

	}
}

.social {
	a {
		i {
			color: @brand-blue-link;
		}
	}
	div {
		display: inline-block;
		padding-right: 20 * @pr;
		&:nth-last-child(1) {
			padding-right: 0;
		}
	}
	// Doesn't work in IE<9. Maybe needs to rewrite.
	display: flex;
	justify-content: space-between;
	&.social-post {
		margin-top: 7 * @pr;
	}
}

.social-tags, .social-comments {
	i {
		padding-right: 0.5em;
	}
}

.social-comments {
}

.social-comments-text {
	.visible-sm-inline;
	.visible-md-inline;
	.visible-lg-inline;
}

.social-tags-num {
	.visible-xs-inline-block;
	.visible-sm-inline-block;
}
.social-tags-names {
	.visible-md-inline-block;
	.visible-lg-inline-block;
}

.heading-vote {
	position: relative;
	h1, h2, h3 {
		margin-right: 6rem;
	}
	.social-votes {
		position: absolute;
		right: 0;
		top: 0;
		display: inline;
	}
	h1 + .social-votes {
		&:extend(.h1-padding);
		line-height: 2.3;
	}
	h3 + .social-votes {
		&:extend(.h3-padding);
		line-height: 1.5;
	}
}

// Videos proportions

.video {
	.embed-responsive;
	padding-bottom: 56.25%;
	@media @sm {
		padding-bottom: 45%; // Make it 9/20
	}
}



a.user-block {
	display: block;
	position: relative;
	.user-name-karma {
		position: absolute;
		top: 6*@pr;
		.avenir-demi;
		left: 50 * @pr;
		* {
			display: inline;
		}
		.user-karma {
			color: @brand-black;
		}
	}
	&:hover, &:hover .user-name {
		text-decoration: underline;
	}
	.timestamp {
		position: absolute;
		top: 20 * @pr;
		left: 50 * @pr;
	}
}

a.user-block.user-block-time .user-name-karma {
	top: 0;
}

.timestamp {
	.small;
	color: @brand-grey-text;
}

img.user-pic {
	.img-circle;
	width: 40 * @pr;
	height: 40 * @pr;
}
.user-pic-outline {
	border: 2px solid @brand-white;
}

// LISTS

.ul-common {
	margin-left: 1.4em;
	li {
		padding-bottom: 0.5rem;
	}
	i {
		font-size: 0.9em;
		line-height: 1.4;
		&.fa-check, &.fa-plus {
			color: @brand-green;
		}
		&.fa-minus {
			color: @brand-red;
		}
	}
}
.ul-common-info i {
	color: @brand-grey-icon;
}

.ul-location {
	padding: 0;
	li {
		display: inline;
		&::after {
			content: " /\ ";
		}
		&:nth-last-child(1)::after {
			content: none;
		}
	}
}

.ul-columns {
	.columns(@colwidth: 50%, @colcount: 2, @colgap: 50px, @columnRuleColor: white, @columnRuleStyle: none, @columnRuleWidth: 0)
}

.ul-brands {
	&:extend(.list-unstyled);
}

.ul-spreaded {
	li {
		&:extend(.mgst50p);
		ul, ol {
			&:extend(.padding-top-50p);
		}
	}
}

// MAPS

// Spot / maps
.map {
	width: 100%;
	height: 240 * @pr;
	background: #eee;
	@media @sm {
		height: 300 * @pr;
	}
}
.map-country {
	height: 320 * @pr;
	&:extend(.mgst0x);
}

#map-full {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: #eee;
	#spot-location-map {
		height: 100%;
	}
}

.marker-spot, .marker-shop {
	color: #ff2d21;
}
.marker-weather-station {
	color: #41c200;
}
.marker-school {
	color: #ff7d00;
}

// 2DO rewrite remove ID
#spot-location-map, .map {
	.fa-map-marker {
		color: #fff;
	}
	.map-marker-label {
		font-size: 0.8rem;
		color: #fff;
	}
}
.map-marker-icon {
	display: inline-block;
}
.map-marker-label {
	display: inline-block;
}

.map-marker:hover {
	border: 5px solid red;
	.map-marker-label {
		display: inline;
	}
}

// MAIN PAGE

.promo-main {
	background: @brand-logo url('../img/main-bg.jpg') no-repeat top center;
	.bg-cover;
	.btn {
		width: 200 * @pr;
	}
	.text-center;
}

.inverted {
	h1, h2, p {
		color: @brand-white-text;
	}
}
.main-feature {
	p {
		.small;
		&:extend(.mgst2x);
	}
	a {
		display: block;
		width: 200 * @pr;
		height: 200 * @pr;
		margin-left: auto;
		margin-right: auto;
		.img-circle;
		.transition(background-size);
		&:extend(.mgst);
		&:hover {
			text-decoration: none;
			background-size: 300px 300px;
		}
		&:visited h3 {
			color: @brand-white;
		}
	}
	h3 {
		text-align: center;
		height: 1em;
		padding: 0;
		padding-top: 89 * @pr;
		color: @brand-white;
		.text-uppercase;
		&:extend(.spacing2);
	}
	&-spot a {
		background: #004f66 url('../img/main-feature-spot.jpg') no-repeat center center;
	}
	&-trick a {
		background: #004f66 url('../img/main-feature-trick.jpg') no-repeat center center;
	}
	&-school a {
		background: #004f66 url('../img/main-feature-school.jpg') no-repeat center center;
	}
	&-event a {
		background: #004f66 url('../img/main-feature-event.jpg') no-repeat center center;
	}
	&-map a {
		background: #004f66 url('../img/main-feature-map.jpg') no-repeat center center;
	}
	&-shop a {
		background: #004f66 url('../img/main-feature-shop.jpg') no-repeat center center;
	}
	&-country a {
		background: #004f66 url('../img/main-feature-country.jpg') no-repeat center center;
	}
	&-blog a {
		background: #004f66 url('../img/main-feature-blog.jpg') no-repeat center center;
	}
	// Need to set this property after bg-image is set
	a {
		background-size: 245px 245px;
	}
}

.page-marginless {
	.header-margin {
		display: none;
	}
}

.faces {
	&:extend(.mgst);
	text-align: center;
	img {
		width: 120 * @pr;
		height: 120 * @pr;
		&:first-child {
			margin-right: 10 * @pr;
		}
		&:last-child {
			margin-left: 10 * @pr;
		}
	}
}

.main-howcanuhelp {
	&:extend(.promo);
	background: @brand-peach url('../img/main-howcanuhelp-bg.jpg') no-repeat right center;
	padding-top: 30 * @pr;
	padding-bottom: 60 * @pr;
	.text-center;
	@media @sm {
		padding-top: 100 * @pr;
		padding-bottom: 100 * @pr;
	}
	&.inverted a.btn {
		color: @brand-peach;
		margin-top: 20 * @pr;
	}
}
.main-howcanuhelp-btns {
	div:nth-child(1) {
		@media @sm {
			.text-right;
		}
	}
	div:nth-child(2) {
		@media @sm {
			.text-left;
		}
	}
}

// IMGS

.img-with-caption {
	&:extend(.mgst);
	img {
		&:extend(.mgst50p);
	}
}
.img-caption {
	&:extend(.avenir-light-italic);
	font-size: 14 * @pr;
}

.forms-common-padding {
	height: 46px;
	padding: 0px 16px;
}

// Change Bootstrap controls, inputs
.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
textarea.form-control, input.form-control {
	// Use our font sizes in forms
	font-size: 18px;
}

input.form-control {
	&:extend(.forms-common-padding);
}

.form-margin {
	margin-bottom: 0.7rem;
}

nav {
	.text-center;
}

ul.pagination {
	.avenir-demi;
	a {
		border: none;
		padding: 6*@pr 10*@pr;
	}
	i {
		font: normal normal normal 0.9rem/1 FontAwesome !important;
	}
	li:nth-child(1) a {
		padding-left: 0;
	}
}
ul.pagination.pagination-small {
	font-size: 18px;
}

// Generic style for all buttons
a.btn, button.btn {
	&:extend(.font-noscale);
	padding-top: 9 * @pr;
	padding-bottom: 8 * @pr;
	padding-left: 40 * @pr;
	padding-right: 40 * @pr;
}

// This is a green button
.btn-default {
	.avenir-demi;
	.text-uppercase;
	&:extend(.spacing1);
	background-color: @btn-default-bg;
	color: @brand-white-text;
	border: none;
	border-radius: 26 * @pr;
	&:hover {
		background-color: @brand-green-buttons-hover;
		color: @brand-white-text;
	}
	&:active {
		background-color: @brand-green-buttons-active;
	}
	.inverted & {
		background-color: @brand-white-text;
		color: @brand-black;
		&:hover {
			background-color: #dedede;
		}
		&:active {
			background-color: @brand-black;
			color: @brand-white-text;
		}
	}
}

// Blue outline button to use in dropdowns
.btn-outline {
	background-color: @brand-white;
	color: @brand-black;
	border-radius: 7 * @pr;
	border: 1px solid @brand-blue-link;
	&:hover {
		background-color: @brand-grey-border-header;
	}
	&:active {
		background-color: @brand-blue-link;
		color: @brand-white-text;
	}
	&:visited, &:visited:hover {
		color: @brand-black;
	}
}
.btn-select {
	&:extend(.btn-outline);
	&:extend(.forms-common-padding);
	padding: 10px 10px;
}

.bootstrap-select .btn-select-table, .bootstrap-select button.btn-select-table {
	&:extend(.btn-outline);
	&:extend(.forms-common-padding);
	.font-table;
	padding: 6px 10px;
	height: 36px;
}

.btn-list {
	padding-top: 20 * @pr;
	padding-bottom: 40 * @pr;
	div {
		padding-bottom: 20 * @pr;
	}
	div:nth-child(1) {
		@media @sm {
			text-align: right;
		}
	}
	div:nth-child(2) {
		@media @sm {
			text-align: left;
		}
	}
}

.alert {
	border: none;
}

// Dropdown menus

.dropdown-menu {
	border: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	li a {
		transition: none;
		&:hover {
			background-color: @brand-grey-border-header;
		}
		&:active {
			background-color: @brand-blue-link;
			color: @brand-white;
		}
	}
}

.caret {
	color: @brand-blue-link;
}

// Carousel
.carousel {
	.carousel-control i {
		.vertical-center;
		height: 2rem;
		font-size: 2rem;
	}
	.carousel-indicators li {
		margin: 0.2rem;
		padding: 0.3rem;
		border-radius: 0;
	}
	.img-responsive {
		width: 100%;
	}
}

// TABLES

table.table {
	tbody tr, thead tr {
		td, th {
			&:extend(.font-table);
			&:nth-child(1) {
				padding-left: 0;
			}
			&:nth-last-child(1) {
				padding-right: 0;
			}
			vertical-align: middle;
		}
		th {
			&:extend(.avenir-light);
			border-top: none;
			border-bottom: 1px solid @brand-grey-border-th;
		}
		td {
			&:extend(.avenir-regular);
			border-bottom: 1px solid @brand-grey-border-td;
			color: @brand-grey-text-td;
		}
		td.td-header {
			&:extend(.avenir-light);
			border-bottom: 1px solid @brand-grey-border-td-header;
		}
		td.td-spacer, th.td-spacer {
			border: none;
		}
	}
	tr.tr-double-border {
		th, td {
			border-bottom: 2px solid #595959;
		}
	}
	tr.tr-header-inside {
		td {
			.avenir-demi;
		}
	}
}
.table-responsive {
	border: none;
	table.table {
		margin-bottom: 0;
		@media @sm-max {
			thead, tbody {
				tr td {
					padding-right: 0;
				}
			}
			.td-spacer {
				display: none;
			}
		}
	}
}
.table-caption {
	&:extend(.font-table);
	&:extend(.pull-right);
}


// Code from http://elvery.net/demo/responsive-tables/

/* Force table to not be like tables anymore */
table.no-more-tables {
	@media @sm-max {
		display: block;
		thead, tbody, th, td, tr {
			display: block;
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tbody tr {
			border-bottom: 1px solid @brand-grey-border-td;
			padding-top: 8 * @pr;
			padding-bottom: 8 * @pr;
			&:first-child {
				border-top: 1px solid @brand-grey-border-td;
			}
			td {
				/* Behave like a "row" */
				border: none;
				position: relative;
				padding-left: 1rem;
				white-space: normal;
				text-align: left;
				padding-top: 0;
				padding-bottom: 0;
				&:first-child {
					.avenir-demi;
					padding-left: 0;
					padding-bottom: 8 * @pr;
				}
				// Select cells with non-empty Titles (to avoid bug with <a> padding)
				&[data-title$=" "]:before {
					white-space: nowrap;
					text-align: left;
					/* Label the data */
					content: attr(data-title);
				}
			}
			&.table-header-month {
				td:first-child {
					padding: 0;
				}
			}
		}
	}
}


// PROMO BLOCKS

.promo {
	.bg-cover;
}
.promo-height {
	height: 200 * @pr;
	@media @md {
		height: 320 * @pr;
	}
}

.promo-event {
	&:extend(.promo);
	&:extend(.promo-height);
	background: url('../img/event-cover.jpg') no-repeat center center;
	background-size: cover;
}

.promo-user, .promo-school {
	&:extend(.promo);
	&:extend(.promo-height);
	position: relative;
	.user-pic {
		width: 80 * @pr;
		height: 80 * @pr;
		position: absolute;
		bottom: 20 * @pr;
		margin-left: 15px; // This is from .col- padding
		&:extend(.user-pic-outline);
		@media @md {
			width: 120 * @pr;
			height: 120 * @pr;
		}
	}
}

// WIND DIRECTION ICONS

.wind-direction {
	width: 20 * @pr;
	height: 20 * @pr;
	&-1 {
		background: url('../img/icons/wind-direction1.svg') no-repeat center center;
	}
	&-2 {
		background: url('../img/icons/wind-direction2.svg') no-repeat center center;
	}
	&-3 {
		background: url('../img/icons/wind-direction3.svg') no-repeat center center;
	}
	&-4 {
		background: url('../img/icons/wind-direction4.svg') no-repeat center center;
	}
}

// OTHER ICONS

.img-iko, .img-bksa {
	width: 50px;
}

.ka-icon {
	line-height: 1;
}

// COMMENTS
.social-entry, .comments-entry {
	position: relative;
	.social-votes {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.comments-entry, {
	.margin-multiplier(2);
}
.social-entry {
	.margin-multiplier(3);
}

.comments-form {
	margin-bottom: 54 * @pr;
	.text-center;
	@media @sm {
		.text-right;
	}
}

.md-right {
	@media @md {
		.pull-right;
	}
}
.social-votes-post {
	&:extend(.mgst);
	&:extend(.md-right);
}

// Facebook widgets
.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
	width: 100% !important;
	@media @xs {
		max-width: 300px !important;
	}
}

hr {
	&:extend(.mgst3x);
}

// Layout style to display element full width
.fullw {
	max-width: none;
}

// IMG TREEMAP

.img-treemap {
	&:extend(.mgst);
	a {
		float: left;
	}
	.img-treemap-item {
		width: 100%;
		border: 1px solid @brand-white;
	}
	figcaption {
		display: none;
	}
}
.guide-infographic {
	&:extend(.mgst);
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;

	.padding-top-multiplier(1);
	.padding-bottom-multiplier(1);
}
.guide-infographic-col {
	padding-left: 1rem;
	padding-right: 1rem;
}
.guide-infographic-num {
	&:extend(.font-big-infographic);
	line-height: 1;
}

.noborder-left() {
	border-left: none;
}
.noborder-right() {
	border-right: none;
}

.a-100 {
	width: 100%;
	.img-treemap-item {
		.aspect(280, 142);
		.noborder-left;
		.noborder-right;
	}
}
.a-50 {
	width: 50%;
	.img-treemap-item {
		.aspect(139, 97);
	}
}
.a-33 {
	width: 33.33333%;
	.img-treemap-item {
		.aspect(92, 64);
	}
}
.img-treemap-1 {
	a {
		.a-100;
	}
}
.img-treemap-2 {
	a {
		.a-50;
	}
	figure:nth-child(1) .img-treemap-item {
		.noborder-left;
	}
	figure:nth-child(2) .img-treemap-item {
		.noborder-right;
	}
}
.img-treemap-3 {
	figure:nth-child(1) a {
		.a-100;
	}
	figure:nth-child(2) a, figure:nth-child(3) a {
		.a-50;
	}
	figure:nth-child(2) .img-treemap-item {
		.noborder-left;
	}
	figure:nth-child(3) .img-treemap-item {
		.noborder-right;
	}
}
.img-treemap-4 {
	figure:nth-child(1) a {
		.a-100;
	}
	figure:nth-child(2) a, figure:nth-child(3) a, figure:nth-child(4) a {
		.a-33;
	}
	figure:nth-child(2) .img-treemap-item {
		.noborder-left;
	}
	figure:nth-child(4) .img-treemap-item {
		.noborder-right;
	}
}
.img-treemap-5 {
	figure:nth-child(1) a, figure:nth-child(2) a {
		.a-50;
	}
	figure:nth-child(3) a, figure:nth-child(4) a, figure:nth-child(5) a {
		.a-33;
	}
	figure:nth-child(1) .img-treemap-item, figure:nth-child(3) .img-treemap-item {
		.noborder-left;
	}
	figure:nth-child(2) .img-treemap-item, figure:nth-child(5) .img-treemap-item {
		.noborder-right;
	}
}

// BOOTSTRAP SELECT

.bootstrap-select .btn {
	&:extend(.btn-select);
}

// SHOPS PAGE
.filter-control {
	.visible-xs-block;
	&:extend(.mgst);
}

// VIDEO PAGE
.container-video {
	background: @brand-black;
	padding: 0;
	position: relative;
	.video-wrapper {
		top: 0;
		bottom: 0;
		padding-left: 50px;
		padding-right: 50px;
		@media @sm {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
	.video {
		margin: 0;
	}
	.control-prev, .control-next {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50px;
		@media @sm {
			width: 70px;
		}
		.text-center;
		font-size: 40 * @pr;
	}
	.control-prev {
		left: 0;
	}
	.control-next {
		right: 0;
	}
	a {
		color: @brand-white;
		&:hover {
			background-color: @brand-blue-link;
			color: @brand-black;
		}
	}
	i {
		.vertical-center;
		height: 1.4rem;
	}
}

.video-list {
	h4 {
		padding-top: 0;
		margin-top: 0;
		line-height: 1;
	}
	&:extend(.mgst);
}
.video-preview {
	height: 100 * @pr;
	background: url('../img/content/trick-01.jpg') no-repeat center center;
	background-cover: cover;
	-webkit-background-size: cover;
	&:extend(.mgst);
}

.hr-video {
	&:extend(.mgst2x);
	margin-top: 20 * @pr;
}

// CARDS

.a-no-underline {
	text-decoration: none;
	&:hover, &:active, &:visited {
		text-decoration: none;
	}
}

.a-white {
	color: @brand-white;
	&:visited {
		color: @brand-white;
	}
	&:extend(.a-no-underline);
}

.card-category {
	&:extend(.font-card-category);
	.text-uppercase;
	color: fade(@brand-white, 60%);
	&:visited, &:hover {
		color: fade(@brand-white, 60%);
	}
	&:extend(.a-no-underline);
}

.card {
	height: 160 * @pr;
	&:extend(.mgst);
	position: relative;
	a {
		padding: 15 * @pr;
		height: 160 * @pr;
		z-index: 160;
		display: block;
		position: relative;
	}
	a, a h2 {
		&:extend(.a-white);
	}
	h2 {
		padding-bottom: 15 * @pr;
		padding-right: 15 * @pr;
		margin-bottom: 0;
		position: absolute;
		bottom: 0;
	}
}
.card-like-comment {
	opacity: 0.6;
	position: absolute;
	right: 15 * @pr;
	top: 15 * @pr;
	i {
		padding-right: 0.3em;
	}
	font-size: 12 * @pr;
}
.card-like-count, .card-comment-count {
	display: inline-block;
	padding-left: 1em;
}
.like-count {
	display: inline-block;
	padding-left: 0.1em;
}
.card-img {
	&:extend(.abs100);
	background-cover: cover;
	-webkit-background-size: cover;
	.transition(background-color);
	&:before {
		&:extend(.abs100);
		.transition(background-color);
		content: " ";
		z-index: 155;
	}
	z-index: 150;
}
.card-black {
	.card-color(@brand-black);
}
.card-rapsberry {
	.card-color(@card-rapsberry);
}
.card-blue {
	.card-color(@card-blue);
}
.card-purple {
	.card-color(@card-purple);
}
.card-green {
	.card-color(@card-green);
}

.card-spot {
	.card-color(#781800, #ff8600);
}
.card-trick {
	.card-color(#00575f, #00a893);
}
.card-news {
	.card-color(#3c677d, #00a8e0);
}

// CARDS for social networks
.page-card {
	font-size: 42px;
	body {
		background: @brand-white;
	}
	.card {
		width: 1200px;
		height: 630px;
		a {
			height: 630px - 50px;
			padding: 50px;
		}
		h2 {
			font-size: 94px;
		}
		.card-category {
			font-size: 42px;
			.avenir-light;
			background: url("../img/logo-white-400x400.svg") no-repeat left center;
			background-size: 70px 70px;
			padding-left: 110px;
			height: 70px;
			line-height: 70px;
		}
	}
}

// Share widget

.share-widget {
	font-size: 16px;
	&:extend(.avenir-demi);
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: fade(@brand-white, 95%);
	border-top: 1px solid @brand-grey-divider;
	border-bottom: 1px solid @brand-grey-divider;
	.share-widget-facebook, .share-widget-tags, .share-widget-link, .share-widget-pinterest, .share-widget-twitter, .share-widget-comments, .share-widget-votes {
		height: 46px;
		flex-grow: 1;
		border-right: 1px solid @brand-grey-divider;
		.text-center;
		&:last-child {
			border-right: none;
		}
		display: flex;
		align-items: center;
	}
	.share-widget-facebook, .share-widget-tags, .share-widget-link, .share-widget-pinterest, .share-widget-twitter, .share-widget-comments {
		position: relative;
		a {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.votes {
		width: 5em;
	}
	.social-votes {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: block;
	}
	// Hack to avoid bigger size in this element
	// Maybe needs to rewrite
	.share-widget-votes {
		flex-grow: 0.5;
	}
}
.share-widget-count {
	.hidden-xs;
}
.share-widget-count {
	padding-left: 0.4em;
	color: @brand-black;
}
.share-widget-tags, .share-widget-link {
	.hidden-xs;
}
// @margin-left is a quick fix, don't know why it works
// 2DO: maybe refactor
.share-widget-color-hover (@color, @margin-left: 1px) {
	a {
		transition: background-color 0.2s, border 0.2s;
		i {
			color: @color;
		}
		&:hover {
			background-color: @color;
			color: @brand-white;
			border: 1px solid @color;
			margin: -1px;
			@media @sm {
				margin-left: @margin-left;
			}
			i, .share-widget-count {
				color: @brand-white;
			}
		}
	}
}
.share-widget-facebook {
	.share-widget-color-hover(@facebook, 0);
}
.share-widget-twitter {
	.share-widget-color-hover(@twitter, -2px);
}
.share-widget-pinterest {
	.share-widget-color-hover(@pinterest, -2px);
}
.fixedsticky {
	&:extend(.container-no-padding);
	&:extend(.container-common);
	top: 0; left: 0; right: 0;
	z-index: 10000;
	&.fixedsticky-on {
		margin-left: auto;
		margin-right: auto;
	}
}

// POST PAGE

.post-header {
	position: relative;
	.img-caption {
		padding-top: 6 * @pr;
	}
	h1 {
		padding-top: 30 * @pr;
	}
	@media @sm {
		h1 {
			position: absolute;
			bottom: 54 * @pr;
			color: @brand-white;
			margin: 0;
			padding-top: 0;
			padding-left: 0;
			z-index: 300;
		}
		.img-caption {
			position: absolute;
			bottom: 32 * @pr;
			color: fade(@brand-white, 60%);
			z-index: 300;
		}
		a {
			color: fade(@brand-white, 100%);
		}
		.container-no-padding {
			position: relative;
			&:before {
				.abs100;
				content: " ";
				background-color: fade(@brand-black, 30%);
				z-index: 200;
			}
		}
		img {
			z-index: 100;
		}
	}
}
.post-margin {
	&:extend(.mgst);
	@media @sm {
		margin-bottom: 20 * 2 * @pr;
	}
}

// COUNTRY PAGE
.promo-country {
	h2 {
		padding-top: 0;
	}
	position: relative;
	padding: 1rem;
}
.promo-country-img {
	&:extend(.promo);
	background-size: cover;
	.abs100;
	z-index: 100;
	&:before {
		.abs100;
		content: " ";
		background-color: fade(@brand-black, 30%);
		z-index: 200;
	}
}
.promo-country-content {
	position: relative;
	z-index: 200;
	a, h2, a h2 {
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
	p {
		color: fade(#fff, 60%);
		margin-bottom: 0;
	}
}
.promo-country-desc {
	padding: 1rem;
	border: 1px solid @brand-grey-border-td;
	&:extend(.mgst);
}