@import "bower_components/bootstrap/less/variables.less";

//** Background color for `<body>`.
@body-bg:               @brand-white;
//** Global text color on `<body>`.
@text-color:            @brand-text-body;

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          @brand-black;


//** Global textual link color.
@link-color:            @brand-blue-link;
//** Link hover color set via `darken()` function.
@link-hover-color:      lighten(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;

@font-family-sans-serif:  "AvenirNextCyrLight", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-base:          @rem-base-xs;

@headings-font-family:    "AvenirNextCyrDemi", "Helvetica Neue", Helvetica, Arial, sans-serif;

@headings-line-height:    1.2;


// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  640px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-default-color:              @brand-black;
@btn-default-bg:                 @brand-green-buttons;
@btn-default-border:             #ccc;

//== Forms
//
//##

//** `<input>` background color
@input-bg:                       @brand-grey-forms-bg;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;

//** Text color for `<input>`s
@input-color:                    #577d8f;
//** `<input>` border color
@input-border:                   @brand-grey-forms-bg;

//** Default `.form-control` border radius
@input-border-radius:            0.3rem;
//** Large `.form-control` border radius
@input-border-radius-large:      0.3rem;
//** Small `.form-control` border radius
@input-border-radius-small:      0.3rem;

//== Components
@border-radius-base:        0.3rem;
@border-radius-large:       0.3rem;
@border-radius-small:       0.3rem;


//== Pagination
//
//##

@pagination-color:                     @link-color;
@pagination-bg:                        @body-bg;
@pagination-border:                    @body-bg;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @body-bg;
@pagination-hover-border:              @body-bg;

@pagination-active-color:              @brand-text-body;
@pagination-active-bg:                 @body-bg;
@pagination-active-border:             @body-bg;

@pagination-disabled-color:            @brand-grey-text;
@pagination-disabled-bg:               @body-bg;
@pagination-disabled-border:           @body-bg;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             @brand-green-alert-text;
@state-success-bg:               @brand-green-alert-bg;
@state-success-border:           darken(spin(@brand-green-alert-bg, -10), 5%);

@state-info-text:                #31708f;
@state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #8a6d3b;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:              #a94442;
@state-danger-bg:                #f2dede;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);