block append init
	- var htmlclass = "page-card"

extends templates/blank.jade

block title
	title Cards for social networks | Kitearound

block content
	+card("spot.html", "Spots", "Best wave spots in Portugal", "spot", "img/content/spot-05.jpg", undefined, undefined,  true)
	+card("post.html", "News", "Aaron Hadlow crowned Red Bull King of the Air", "news", "img/content/post-01.jpg", undefined, undefined,  true)
	+card("post.html", "Longread", "Bel Air trick", "trick", "img/content/school-promo.jpg", undefined, undefined,  true)
	+card("post.html", "Question", "How much time do you spend on water? Hm?", "black", undefined, undefined, undefined,  true)
	+card("spot.html", "Spots", "Best wave spots in Portugal", "black", "img/content/spot-05.jpg", undefined, undefined,  true)
	+card("post.html", "News", "Aaron Hadlow crowned Red Bull King of the Air", "black", "img/content/post-01.jpg", undefined, undefined,  true)
	+card("post.html", "Question", "How much time do you spend on water? Hm?", "blue", "img/content/post-01.jpg", undefined, undefined,  true)
	+card("post.html", "Longread", "Women Who Kite: The 10% of Kiteboarding", "green", "img/content/school-promo.jpg", undefined, undefined,  true)