include includes/mixins.jade

block init

doctype html
html(lang="en")
	head
		include includes/_head
	body(class=bodyclass)
		include includes/navigation

		block content

		block footer
			#footer
				.container-fluid
					.row
						.col-xs-12
							h3 Kitearound
							+menu-content
							h3 Follow us
							p
								a(href="https://www.facebook.com/pages/Kitearound/852081554833830")
									span.fa-stack.fa-lg
										i.fa.fa-circle.fa-stack-2x
										i.fa.fa-facebook.fa-stack-1x.fa-inverse
								a(href="https://twitter.com/kitearound")
									span.fa-stack.fa-lg
										i.fa.fa-circle.fa-stack-2x
										i.fa.fa-twitter.fa-stack-1x.fa-inverse
							p#credits Design and coding by 
								a(href="http://accuraten.com/") Accuraten
		script(src='js/jquery.min.js')
		script(src='js/collapse.js')
		script(src='js/transition.js')
		script(src='js/carousel.js')
		script(src='js/alert.js')
		script(src='js/dropdown.js')
		script(src='js/enquire.min.js')
		script(src='js/js.js')
		script(src='components/fixedsticky/fixedsticky.js')
		script(src='components/bootstrap-select/js/bootstrap-select.min.js')
		script(src='components/bootstrap-select/js/i18n/defaults-en_US.min.js')
		script(src='components/photoswipe/photoswipe.min.js')
		script(src='components/photoswipe/photoswipe-ui-default.min.js')
		//- script(src='js/photoswipe.js')
		script(src='js/pswp.js')

		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCsSpkoJXyIKtUrmdVnl_nOOpl9fpfvAgw')
		script(src='js/markerwithlabel.js')
		script.
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '146408198744578',
					xfbml      : true,
					version    : 'v2.1'
				});
			};
			(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		include includes/counter

		include includes/pswp
