block append init
  - var bodyclass = "page-marginless"
  - var header_overlay = true

extends default.jade

block title
  title Rail Masters Kite Jib Contest | Kitearound

block content
  .fullw.inverted.promo-event
  .container-fluid.container-st
    +share-widget(false, { tags: false })
    .row
      .col-xs-12
        h1 Rail Masters Kite Jib Contest
        p
          i.fa.fa-calendar
          | &nbsp;
          strong 15–23rd August 2015
        p The 2014 Rail Masters Kite Jib Contest will be held on the 15th of August to the 23rd, as part of sports and music festival BeeCamp, organised by Beeline. The festival will be at Bugazskaya Spit in Blagoveschenskaya Village Russia.
        p The Chief Judge of BeeCamp / Rail Masters will be Brian Wheeler (USA), Brian has designed an original judging system for the event, just as he does for the iconic Wake Style Competitions the Triple-S (USA), Ro-Sham Throwdown (USA) and other events around the world.
        p Fighting for a prize pool of $5,000, provided by partner RM Beeline, are some of the strongest Russian riders: Peter Tyushkevich, Victoria Soloveykina, Anton Uzhegov, Nikolay Rakhmatov, Sergei Belmesov, Gennady Kirillov, Artem Garashchenko, Yan Valiev, Sergey Shaluho, Ilya Iskhnopulo. The fight will be real hard, because also participating in BeeCamp / RailMasters Russia are James Boulding, Craig Cunnigham, Eric Rienstra, Toby Helter, Maciek Lewandowski, Olek Lewandowski!
        p The level of Russian riders in the park with a kite is growing every year. Who will win the Beeline / Rail Masters-2014  Cup?
        p We will find out on August 23 – the closing day of the festival BeeCamp-2014.
        h2 Teaser
        .video
          iframe(src='//player.vimeo.com/video/104939911?color=ffffff&title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        h2 Location
        ul.ul-location
          li 
            a(href="spot.html") Europe
          li
            a(href="country.html") Russia
          li
            a(href="spot.html") Krasnodar Krai
          li
            a(href="spot.html") Anapa
        .map#spot-location-map(data-lat='45.054170', data-lng='37.127780')
        h2 Contacts
        ul.fa-ul.ul-common.ul-common-info
          li
            i.fa-li.fa.fa-external-link-square
            a(href="http://railmasters.ru/") Official website
          li
            i.fa-li.fa.fa-facebook-square
            a(href="https://www.facebook.com/RailMastersKiteJibContest") RailMastersKiteJibContest
        h2 Read more
    .row
      .col-sm-6
        +card("spot.html", "Spots", "Blagoveschenskaya", "black", "img/content/spot-05.jpg")
      .col-sm-6
        +card("spot-school.html", "Schools", "Blagoveschenskaya kiteschools", "rapsberry", "img/content/post-02.jpg")
    .row
      .col-xs-12
        h2 Comments
        +comments-list