block append init

extends default.jade

block title
	title Kitesurfing events | Kitearound

block content
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Kitesurfing events
		.row.filter-control
			.col-xs-6
				select.selectpicker-table(data-live-search="true", data-width="100%", multiple, data-selected-text-format="count" data-title="Countries", data-count-selected-text="{0} countries")
					optgroup(label="Asia")
						option Vietnam
						option Cambodia
						option Philippines
						option China
			.col-xs-6
				select.selectpicker-table(data-live-search="true", data-width="100%",data-title="Type")
					option(title="Type") All types
					option Competition
					option Clinic
					option Gear demo
					option Safari
		.row
			.col-xs-12
				table.table.no-more-tables
					thead
						tr.tr-double-border
							th Name
							th Date
							th
								select.selectpicker-table(data-live-search="true", data-width="7rem")
									option(title="Country") All countries
									optgroup(label="Asia")
										option Vietnam
										option Cambodia
										option Philippines
										option China
							th
								select.selectpicker-table(data-width="7rem")
									option(title="Type") All types
									option Competition
									option Clinic
									option Gear demo
									option Safari
					tbody
						tr.tr-header-inside
							td(colspan="4") August 2015
						tr
							td
								a(href="event.html") Rail Masters kite jib contest
							td 15–23rd Aug
							td
								a(href="spot.html") Blagoveshchenskaya kosa
								| , 
								a(href="spot-list-country.html") Russia
							td Competition
						tr
							td 
								a(href="event.html") PKRA 5th leg
							td 19–21rd Aug
							td
								a(href="spot.html") St. Peter-Ording
								| , 
								a(href="spot-list-country.html") Germany
							td Competition
						tr
							td 
								a(href="event.html") Wave riding clinic with Ben Wilson
							td 22–29th Aug
							td 
								a(href="spot.html") Phan Rang
								| , 
								a(href="spot-list-country.html") Vietnam
							td Clinic
						tr.tr-header-inside
							td(colspan="4") Sep 2015
						tr
							td 
								a(href="event.html") RedBull King Of The Air
							td 1–7th Sep
							td 
								a(href="spot.html") Big Bay
								| , 
								a(href="spot-list-country.html") South Africa
							td Competition
						tr
							td 
								a(href="event.html") Epic downwinder from Australia to Peru
							td 5th Sep
							td 
								a(href="spot.html") Secret Spot
								| , 
								a(href="spot-list-country.html") Australia
							td Safari
						tr
							td 
								a(href="event.html") North Demo days
							td 9th Sep
							td 
								a(href="spot.html") Fortaleza
								| , 
								a(href="spot-list-country.html") Brazil
							td Gear demo
				+pagination("pagination-small")