block append init
	- var bodyclass = "page-marginless"
	- var header_overlay = true

extends default.jade

block content
	.fullw.inverted.promo.promo-main
		.container-fluid
			.header-margin-inside
			.row
				.col-xs-12
					h1 We are building a proper kiteboarding community and we need your help!
					.faces
						a(href="https://www.facebook.com/rafeev")
							img(src="img/main-vlad.png")
						a(href="https://www.facebook.com/slamshoo")
							img(src="img/main-slava.png")
					p We are two kitesurfers that love sport and love to build websites. Our mission is to create a "one stop" for everything you need in kiteboarding.
					p Right now we need your help to fill a few forms about your favorite/local spot conditions and schools info.
			.row.btn-list
				.col-sm-6
					a.btn.btn-default(href='https://docs.google.com/forms/d/1mKoLqYp_vw8MtQxTxw9E5kTeFq5DHIuSOqoUfFteTP4/viewform', role='button') My spot
				.col-sm-6
					a.btn.btn-default(href='school.html', role='button') My school
	.container-fluid.bgst.padding-top-1
		.row
			.col-xs-12
				h2 What will be there?
				p First iteration of KiteAround website will include:
		.row
			.col-sm-6.main-feature.main-feature-country
				a(href="spot-list-atlas.html")
					h3 Countries
				p Guide for all major and minor kiteboarding destinations with detailed information. Descriptions, statistics, condition, hazards, meteostations — all there.
			.col-sm-6.main-feature.main-feature-spot
				a(href="spot.html")
					h3 Spots
				p Kiteboarding / kitesurfing spots around the globe. You can contribute to tell us about your favorite ones!
		.row
			.col-sm-6.main-feature.main-feature-school
				a(href="school-list.html")
					h3 Schools
				p You can see on a map all schools, detailed info about each, photos, location, features, you name it.
			.col-sm-6.main-feature.main-feature-event
				a(href="event-list.html")
					h3 Events
				p Where are the biggest competitions, sports and music festivals, local events will take place? You can tell by looking in our events section.
		.row
			.col-sm-6.main-feature.main-feature-trick
				a(href="trick-list.html")
					h3 Tricks
				p Have you ever wandered, what trick to learn next? We are compiling all tricks variations with video instructions, so you could try something new every session!
			.col-sm-6.main-feature.main-feature-blog
				a(href="post-list.html")
					h3 Blogs
				p Top videos, stories, photos from all sources. All content is community-moderated to select only the most interesting.
		.row
			.col-sm-6.main-feature.main-feature-map
				a(href="map.html")
					h3 Maps
				p All data is visualized on maps — spots, schools, shops, you name it!
			.col-sm-6.main-feature.main-feature-shop
				a(href="shop-list.html")
					h3 Shops
				p Where is nearest retailer of your favorite brand? You can find it here too.
		.row
			.col-xs-12
				h2 Why it will be better?
				p
					strong Optimized for mobile
					| . We love to build responsive websites at 
					a(href="http://accuraten.com/") Accuraten
					|  bureau. Kite Around will have beautiful design and pleasant user experience across all platforms.
				p
					strong Community-driven
					| . No more "I said, you listen" attitude. You can contribute and edit content. You can vote to show your love or hate to videos, brands and other content. You decide, where project will be heading.
				p
					strong Modern
					| . We are inspired by modern communities like Medium, Reddit, StackOverflow and MagicSeaWeed.
				p.mgst3x
					strong Support for small business
					| . We think about instructors, shops, service providers, schools and event organizers to help them spread their message.
	.fullw.inverted.main-howcanuhelp
		.container-fluid
			.row
				.col-xs-12
					h2 How can you help?
					p Please fill these forms to share your knowledge with Internet:
					.row.main-howcanuhelp-btns
						.col-sm-6
							a.btn.btn-default(href='https://docs.google.com/forms/d/1mKoLqYp_vw8MtQxTxw9E5kTeFq5DHIuSOqoUfFteTP4/viewform', role='button') My spot
						.col-sm-6
							a.btn.btn-default(href='/school.html', role='button') My school
	.container-fluid.bgst.padding-top-1
		.row
			.col-xs-12
				h2 When it will be ready?
				p We plan to launch in 2015. You can tell us your email and take part in beta testing.
		.row
			form(id="", method="POST", action="?")
				.col-sm-6.col-md-7
					.form-group
						input#exampleInputEmail1.form-control.main-form-email(type='email', placeholder='Enter email')
				.col-sm-6.col-md-5.col-xs-10.col-xs-offset-1.col-sm-offset-0.mgst
					button.btn.btn-default.btn-block(type='submit') Let me know
				.col-xs-12
					.alert.alert-success.alert-dismissible.mgst.hidden(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true') &times;
						p We've got your email and will keep you informed.
					.alert.alert-danger.alert-dismissible.mgst.hidden(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true') &times;
						p Something went wrong. Please try again.
		.row
			.col-xs-12
				h2 Like us on Facebook to receive updates
				.fb-like-box(data-href='https://www.facebook.com/pages/Kitearound/852081554833830', data-colorscheme='light', data-show-faces='true', data-header='true', data-stream='true', data-show-border='false')