block append init
  - var bodyclass = "page-marginless"
  - var header_overlay = true

extends default.jade

block content
  #map-full
    #spot-location-map(data-lat='10.945736510951978', data-lng='108.20295614624024', data-showmarkers='true', data-scrollwheel='true', data-zoom='13')

block footer
  