extends default.jade

block title
	title Aaron Hadlow joins North Kiteboarding | Kitearound

block content
	.container-fluid.container-st
		.row
			.col-xs-12
				.post-header
					.container-no-padding
						img.img-responsive(src="img/content/post-01.jpg")
					.img-caption Photo by 
							a(href="https://twitter.com/tobybromwich") Toby Bromwich
					h1 Aaron Hadlow joins North Kiteboarding
				+share-widget
				.post-margin
				p He is one of Kiteboarding' s most prestigious riders, 5 x World Champion and an inspiration to kiteboarders across the globe with his sheer style, ruthless technicality and British persona. The name has been seen on kites since 2008, boards since 2004 and he was landing double handle passes over 10 years ago. Bringing years of experience in product development, we are proud to announce that Aaron Hadlow has joined the North Kiteboarding Team.
				p At just 25 years old, Hadlow's kiteboarding career has been exceptional throughout. Forever advancing at a pace that left the rest of the PKRA competition fleet behind, Aaron has carved a name for himself deep into the kiteboarding industry. Having managed his own brand within Flexifoil for years, he speaks about how he is excited to be part of a team after a longtime being responsible for everything from product development and marketing, all the while trying to find time to train and travel on the PKRA tour.
				p Hadlow joins North Kiteboarding not only as a rider and Team member, but will be involved heavily in RD.  Between his extensive knowledge and time on the water, teamed with North Kiteboarding's product development and setup, it's as if the 'Dream Team' has finally joined forces and it's more that he could have ever imagined.
				p I'm excited about joining North Kiteboarding and it's great to be supported by such a knowledgeable and experienced team. It's obviously a massive step for me, but I feel that this partnership has a lot of synergy and potential.”
				p So what's next? Hadlow joins a Team of life long friends such as Jaime Herraiz and Tom Court, so you can expect some great videos from Tom and Aaron as the work and travel together. North Kiteboarding also has PKRA riders Mario, Stefan and Reno to offer up some in-house healthy rivalry on the tour. And finally, next month Aaron will be headed to Hood River with the other Vegas riders for his first Team shoot, so stay tuned on how that goes.
				p Welcome to North Kiteboarding Aaron Hadlow!
		.row
			.col-xs-12
				hr
				+user-karma-timestamp
				h2 Read next
		.row
			.col-sm-6
				+card("spot.html", "Spots", "Best wave spots in Portugal", "black", "img/content/spot-05.jpg")
			.col-sm-6
				+card("post.html", "News", "Aaron Hadlow crowned Red Bull King of the Air", "rapsberry", "img/content/post-01.jpg")
		.row
			.col-xs-12
				a(id="tags")
				h2 Tags
				+tag-list
				a(id="comments")
				h2 Comments
				+comments-list