extends default.jade

block title
	title Aaron Hadlow joins North Kiteboarding | Kitearound

block content
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Kitesurfing news
		.row
			.col-sm-6
				+card("spot.html", "Spots", "Best wave spots in Portugal", "black", "img/content/spot-05.jpg")
			.col-sm-6
				+card("post.html", "News", "Aaron Hadlow crowned Red Bull King of the Air", "rapsberry", "img/content/post-01.jpg")
			.col-sm-6
				+card("post.html", "Question", "How much time do you spend on water? Hm?", "black")
			.col-sm-6
				+card("post.html", "Longread", "Women Who Kite: The 10% of Kiteboarding", "purple", "img/content/school-promo.jpg")
			.col-sm-6
				+card("spot.html", "Spots", "Best wave spots in Portugal", "black", "img/content/spot-05.jpg")
			.col-sm-6
				+card("post.html", "News", "Aaron Hadlow crowned Red Bull King of the Air", "black", "img/content/post-01.jpg")
			.col-sm-6
				+card("post.html", "Question", "How much time do you spend on water? Hm?", "green")
			.col-sm-6
				+card("post.html", "Longread", "Women Who Kite: The 10% of Kiteboarding", "blue", "img/content/school-promo.jpg")