block append init
  - var bodyclass = "page-marginless"
  - var header_overlay = true

extends default.jade

block title
  title Surfpoint kiteschool | Kitearound

block content
  .fullw.inverted.promo.promo-school(style="background: url('img/content/school-promo.jpg') no-repeat center center; background-size: cover;")
    .container-fluid
      .row
        img(src="img/content/user08.jpg").user-pic
  .container-fluid.container-st
    +share-widget(false, { tags: false })
    .row
      .col-xs-12
        h1 Surfpoint kiteschool
        p Surfpoint is a kiteboarding and surfing school in 
          a(href="spot.html") Vietnam
          |. We pride ourselves as one of the most professional schools in 
          a(href="spot.html") Mui Ne
          |  while maintaining an open and relaxed atmosphere. Our instructors were ones of the first kitesurfers in Vietnam. As of now they set the highest standards of both teaching and riding.
        h2 Prices
        table.table
          tr
            td Lesson / 1 hour
            td 50$
          tr
            td Lesson / 5 hours
            td 300$
          tr
            td Lesson / 10 hours
            td 450$
          tr
            td Storage / daily
            td 10$
        h2 Photos
        +photo-gallery
        h2 Features
        ul.fa-ul.ul-common
          li
            i.fa-li.fa.fa-check
            | English language
          li
            i.fa-li.fa.fa-check
            | Spanish language
          li
            i.fa-li.fa.fa-check
            | French language
          li
            i.fa-li.fa.fa-check
            | Storage
          li
            i.fa-li.fa.fa-check
            | Pump
          li
            i.fa-li.fa.fa-check
            | Shower
          li
            i.fa-li.fa.fa-check
            | Parking
          li
            i.fa-li.fa.fa-check
            | Jetski rescue
        h2 Contact info
        ul.fa-ul.ul-common.ul-common-info
          li
            i.fa-li.fa.fa-envelope-square
            a(href="mailto:willywillyschool@gmail.com") willywillyschool@gmail.com
          li
            i.fa-li.fa.fa-phone-square
            a(href="tel:+841276501527") +841276501527
          li
            i.fa-li.fa.fa-skype
            a(href="skype:shurella666") shurella666
        h2 Location
        ul.ul-location
          li 
            a(href="spot.html") Asia
          li
            a(href="spot.html") Southeast Asia
          li
            a(href="country.html") Vietnam
          li
            a(href="spot.html") Phan Thiet
          li Batalla del Salado 41
        .map#spot-location-map(data-lat='10.945736510951978', data-lng='108.20295614624024')
        h2 Read more
    .row
      .col-sm-6
        +card("spot.html", "Spots", "Mui Ne", "black", "img/content/spot-05.jpg")
      .col-sm-6
        +card("spot-school.html", "Schools", "Mui Ne kiteschools", "rapsberry", "img/content/post-02.jpg")
    .row
      .col-xs-12
        h2 Comments
        +comments-list