block append init

extends default.jade

block title
	title Select your location | Kitearound

block content
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Kitesurfing schools catalog
				.alert.alert-warning.mgst 
					i.fa.fa-refresh.fa-spin
					|  To help you find a kiteschool we need to know your location. You should see a browser dialog and answer positive to it.
				.alert.alert-info.mgst User shares his location and page 
						a(href="spot-school.html") redirects to this
						| .
				a(href="spot-list-continent.html")
					h2 Asia
				a(href="spot-list-country.html")
					h3 Vietnam
				a(href="spot-school.html")
					p 
						strong Mui Ne kiteschool
				+schools-table
