block append init
	- var bodyclass = "page-marginless"
	- var header_overlay = true

extends default.jade

block title
	title Real watersports | Kitearound

block content
	.fullw.inverted.promo.promo-school(style="background: url('img/content/shop-01.jpg') no-repeat center center; background-size: cover;")
	.container-fluid.container-st
		.row
			.col-xs-12
				+share-widget(false, { tags: false })
				h1 Real watersports
				p REAL is the number 1 kiteboarding and surfing retailer, lesson center and destination in the world. We ship gear worldwide from our home in Cape Hatteras, NC and are committed to providing the highest possible level of customer service.
				p Everyone on our team surfs, kiteboards or gets in the water almost every day of the year! It's part of our company culture and plays an essential role in helping us provide the best knowledge, service and stoke for our customers.
				h2 Location
				ul.ul-location
					li 
						a(href="spot.html") America
					li
						a(href="spot.html") North America
					li
						a(href="spot.html") USA
					li
						a(href="spot.html") North Carolina
					li
						a(href="spot.html") Cape Hatteras
				.map#spot-location-map(data-lat='35.5658496', data-lng='-75.469563')
				h2 We are selling following brands
				ul.ul-brands
					li
						a(href="user.html").user-block
							img(src="img/content/user04.jpg").user-pic
							.user-name-karma
								.user-name North kiteboarding
								| &nbsp;
								.user-karma 125
					li
						a(href="user.html").user-block
							img(src="img/content/user05.jpg").user-pic
							.user-name-karma
								.user-name Mystic
								| &nbsp;
								.user-karma 70
					li
						a(href="user.html").user-block
							img(src="img/content/user06.jpg").user-pic
							.user-name-karma
								.user-name Tona
								| &nbsp;
								.user-karma 42
				h2 Contacts
				ul.fa-ul.ul-common.ul-common-info
					li
						i.fa-li.fa.fa-external-link-square
						a(href="http://www.realwatersports.com/") Official website
					li
						i.fa-li.fa.fa-facebook-square
						a(href="https://www.facebook.com/realwatersports") Official Facebook page