block append init

extends default.jade

block title
	title Kitesurfing shops | Kitearound

block content
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Kitesurfing shops
		.row.filter-control
			.col-xs-6
				select.selectpicker(data-live-search="true", data-width="100%", multiple, data-selected-text-format="count", data-title="Brands", data-count-selected-text="{0} brands")
					option Airush
					option Cabrinha
					option North
					option Slingshot
			.col-xs-6
				select.selectpicker(data-live-search="true", data-width="100%", multiple, data-selected-text-format="count" data-title="Countries", data-count-selected-text="{0} countries")
					optgroup(label="Asia")
						option Vietnam
						option Cambodia
						option Philippines
						option China
		.row
			.col-xs-12
				table.table.no-more-tables
					thead
						tr.tr-double-border
							th Name
							th Rating
							th
								select.selectpicker-table(data-live-search="true", data-width="7rem", multiple, data-selected-text-format="count", data-title="Brands", data-count-selected-text="{0} brands")
									option Airush
									option Cabrinha
									option North
									option Slingshot
							th
								select.selectpicker-table(data-live-search="true", data-width="7rem", multiple, data-selected-text-format="count" data-title="Countries", data-count-selected-text="{0} countries")
									optgroup(label="Asia")
										option Vietnam
										option Cambodia
										option Philippines
										option China
					tbody
						tr
							td
								a(href="shop.html") Real watersports
							td(data-title="Rating ") +45
							td 10 brands
							td
								a(href="spot-list-country.html") Russia
						tr
							td 
								a(href="shop.html") Surfpirate.de
							td(data-title="Rating ") +25
							td 5 brands
							td 
								a(href="spot-list-country.html") Germany
						tr
							td 
								a(href="shop.html") Kites.ru
							td(data-title="Rating ") +8
							td 3 brands
							td 
								a(href="spot-list-country.html") Vietnam
						tr
							td 
								a(href="shop.html") Underground seller
							td(data-title="Rating ") +52
							td 8 brands
							td 
								a(href="spot-list-country.html") South Africa
						tr
							td 
								a(href="shop.html") Fake Chinese shop for cheap
							td(data-title="Rating ") +80
							td North
							td 
								a(href="spot-list-country.html") Australia
						tr
							td 
								a(href="shop.html") Oldstolenkites.com
							td(data-title="Rating ") -14
							td Ozone
							td 
								a(href="spot-list-country.html") Brazil
				+pagination("pagination-small")