extends default.jade

block title
  title Mui Ne wind statistics | Kitearound

block content
  .container-fluid.container-st
    .row
      .col-xs-12
        h1 Mui Ne wind statistics
        p We use user contributed date for calculating wind statistics. You can see past contributions, vote for them or input your own data.
        .social-entry
          .social-entry-header
            a(href="user.html").user-block.user-block-time
              img(src="img/content/user01.jpg").user-pic
              .user-name-karma
                .user-name freerider
                | &nbsp;
                .user-karma 125
              .timestamp 3 hours ago
            +social-votes("4", "opla")
          .comments-text
            p I was living in Mui Ne for 1 year straight. This is my observation.
          .table-responsive
            table.table
              tr
                th Month
                th.td-spacer
                th Jan
                th Feb
                th Mar
                th Apr
                th May
                th Jun
                th Jul
                th Aug
                th Sep
                th Oct
                th Nov
                th Dev
              tr
                td.td-header Windy days, %
                td.td-spacer
                td 80
                td 75
                td 60
                td 30
                td 10
                td 40
                td 50
                td 35
                td 20
                td 75
                td 85
                td 90
        .social-entry
          .social-entry-header
            a(href="user.html").user-block.user-block-time
              img(src="img/content/user02.jpg").user-pic
              .user-name-karma
                .user-name karmawhore
                | &nbsp;
                .user-karma 45
              .timestamp 9 hours ago
            +social-votes("2", "opla")
          .comments-text
            p Data from my own meteostation.
          .table-responsive
            table.table
              tr
                th Month
                th.td-spacer
                th Jan
                th Feb
                th Mar
                th Apr
                th May
                th Jun
                th Jul
                th Aug
                th Sep
                th Oct
                th Nov
                th Dev
              tr
                td.td-header Windy days, %
                td.td-spacer
                td 35
                td 75
                td 40
                td 20
                td 10
                td 40
                td 90
                td 45
                td 40
                td 25
                td 15
                td 70
    .row
      .col-xs-12
        h2 Contribute wind data
        p Do you know wind statistics on this spot? Feel free to contribute your observations. Your contribution will help kitesurfing community to understand conditions here. 
        p Tell us, how many of windy days kiter should expect on average on this spot. We consider "windy" any day with minimum average wind speed 12 knots for at least 1 hour.
    .row
      .col-xs-12.col-sm-6
        table.table
          tr
            th Jan
            th Feb
            th Mar
          tr
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
      .col-xs-12.col-sm-6
        table.table
          tr
            th Apr
            th May
            th Jun
          tr
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
    .row
      .col-xs-12.col-sm-6
        table.table
          tr
            th Jul
            th Aug
            th Sep
          tr
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
      .col-xs-12.col-sm-6
        table.table
          tr
            th Oct
            th Nov
            th Dec
          tr
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
            td 
              +select-wind-statistics
    .row
      .col-xs-12
        +comments-form("Source of your data")