block append init
  - var bodyclass = "page-marginless"
  - var header_overlay = true

extends default.jade

block title
  title Mui Ne kitesurfing | Kitearound

block content
  .container-fluid.fullw.map.map-country#spot-location-map(data-lat='10.945736510951978', data-lng='108.20295614624024', data-zoom='13', data-showmarkers='true')
  .container-fluid.container-st
    +share-widget(false, { tags: false })
    .row
      .col-xs-12
        h1 Mui Ne kitesurfing
        p Mui Ne Beach is one of the best 
          a(href="spot.html") Phan Thiet region
          |  destination for kiteboarding. Price of living is very cheap, people are friendly. A lot of kitesurfers come to catch some good wind, so expect crowdy beaches. Anyway this area has really long beaches, so you always can find a lonely place to kitesurf.
        p Nearby spot 
          a(href="spot.html") Malibu (15 km)
          |  has up to overhead waves with beachbreak and lonely beaches.
        h2 Wind and statistics
        .table-responsive
          table.table
            tr
              th Month
              th.td-spacer
              th Jan
              th Feb
              th Mar
              th Apr
              th May
              th Jun
              th Jul
              th Aug
              th Sep
              th Oct
              th Nov
              th Dev
            tr
              td.td-header Windy days, %
              td.td-spacer
              td 80
              td 75
              td 60
              td 30
              td 10
              td 40
              td 50
              td 35
              td 20
              td 75
              td 85
              td 90
            tr
              td.td-header Wind direction
              td.td-spacer
              td 
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
              td
                .wind-direction.wind-direction-4
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
              td 
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-3
              td
                .wind-direction.wind-direction-2
              td
                .wind-direction.wind-direction-4
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
            tr
              td.td-header KA rating
              td.td-spacer
              td 
                i.fa.fa-star-o
              td 
                i.fa.fa-star-o
              td 
                i.fa.fa-star-o
              td 
              td 
              td 
                i.fa.fa-star-o
              td
                i.fa.fa-star-o
              td
              td 
              td 
                i.fa.fa-star-o
              td 
                i.fa.fa-star-o
              td 
                i.fa.fa-star-o
        p.table-caption Based on 
          a(href="spot-statistics.html") many sources
          | .
      .col-xs-12
        p Mui Ne enjoys strong winds in winter monsoon season with daily average 20 knots / 5 days a week. Strong winds bring big windy waves overhead and higher.
        p Summer monsoon brings rainy weather and smaller winds.
        h2 Spot photos
        +photo-gallery
        h2 Features
    .row
      .col-sm-6
        ul.fa-ul.ul-common
          li
            i.fa-li.fa.fa-plus
            | No current
          li
            i.fa-li.fa.fa-plus
            | Lots of wind
          li
            i.fa-li.fa.fa-plus
            | Tide independent
          li
            i.fa-li.fa.fa-plus
            | Waves 1-3m
          li
            i.fa-li.fa.fa-plus
            | Steady monsoon wind
          li
            i.fa-li.fa.fa-plus
            | Thermal effect
          li
            i.fa-li.fa.fa-plus
            | Cheap prices
      .col-sm-6
        ul.fa-ul.ul-common
          li
            i.fa-li.fa.fa-minus
            | Crowded
          li
            i.fa-li.fa.fa-minus
            | Fishing nets. Can be as close as 50m from beach in many layers
          li
            i.fa-li.fa.fa-minus
            | Lots of beach users
          li
            i.fa-li.fa.fa-minus
            | Small to medium chop
      .col-xs-12
        a(href="spot-school.html")
          h2 Kiteschools in Mui Ne
        table.table
          tr
            th Name
            th Price for 1 hour
            th KA rating
            th Certificate
          tr
            td 
              a(href="school.html") Surf4you
            td 50€
            td +45
            td
              img(src="img/icons/iko.svg").img-iko
          tr
            td 
              a(href="school.html") Surfpoint
            td 60€
            td +25
            td
              img(src="img/icons/iko.svg").img-iko
          tr
            td 
              a(href="school.html") Dragon Tarifa
            td 70€
            td +12
            td
              img(src="img/icons/iko.svg").img-iko
          tr
            td 
              a(href="school.html") Tarifa Max
            td 60€
            td +4
            td —
        h2 Nearby spots
    .row
      .col-sm-6.mgst
        +card("spot.html", "Spots", "Malibu", "black", "img/content/spot-05.jpg")
      .col-sm-6
        p.mgst2x 
          a(href="spot.html") Malibu (15 km)
          |  has up to overhead waves with beachbreak and lonely beaches. Sometimes it gives great condition for freestyle and kiteloop sessions.
    .row
      .col-sm-6.mgst
        +card("spot.html", "Spots", "Turtle Island", "black", "img/content/spot-06.jpg")
      .col-sm-6
        p.mgst2x
          a(href="spot.html") Turtle Island (30 km)
          |  has lonely beautiful location with sand dunes, small waves and sometimes stronger winds.
    .row
      .col-sm-6.mgst
        +card("spot.html", "Spots", "Phan Rang", "black", "img/content/spot-04.jpg")
      .col-sm-6
        p.mgst2x
          a(href="spot.html") Phan Rang (200 km)
          |  has many bays with flat lagoons, protected with coral reef. On the reef you can experience one of the best waves in the region.
    .row
      .col-xs-12
        h2 Events
        table.table
          tr
            td 
              a(href="event.html") Rail Masters Kite Jib Contest
            td 15–23rd August 2015
          tr
            td 
              a(href="event.html") PKRA 5th leg 
            td 18–26th of September 2015
        h2 Tag 
          a.tag Muine

        h3 Mui Ne lifestyle
        .video
          iframe(src='//player.vimeo.com/video/21929046?color=ffffff&title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        +social-widget

        h3 'We Are Waves' - Zenith Kiting in Mui Ne Vietnam. Kitesurfing & the Lifestyle
        .video
          iframe(src='//player.vimeo.com/video/64673706?color=ffffff&title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        +social-widget
    .row
      .col-xs-12
        h2 Comments
        +comments-list