block append init
  - var bodyclass = "page-marginless"
  - var header_overlay = true

extends default.jade

block title
  title Portugal kitesurfing | Kitearound

block content
  .container-fluid.fullw.map.map-country#spot-location-map(data-lat='38.72060368153287', data-lng='-9.476239257812495', data-zoom='5', data-marker-display='false')
  .container-fluid.container-st
    +share-widget(false, { tags: false })
    .row
      .col-xs-12
        h1 Portugal kitesurfing guide
        p Portugal is Mecca for all European wave riding lovers. Blessed with Atlantic swell and reliable wind system, its best season is summer. Not very popular with tourists and cheaper than surrounding countries, Portugal is a true gem of European kiteboarding.
        +photo-gallery
        h2 Wind and weather
        p The most reliable wind is here in summer. It is called Nortada, because guess what... it blows from North! Spain has heat low pressure, and ocean has high pressure. 
        p 
          strong Summer season (June – August)
          | . Wind is enforced by thermic effect. Swell is rare. All beaches are packed with swimmers, surfers, windsurfers and kiters. Atlantic waters aren't warm at all, but lots of sunny weather make riding condition a pleasure.
        p 
          strong Autumn
          | . No thermal effect, so strong wind is rarely here. Storms start to bring greater swell, which is ofter overwhelming with waves up to 5m height. September can still be warm, but in October less sunlight makes condition pretty chilly.
        h3 
          a(href="spot.html") Guincho
          |  wind chart
        .table-responsive
          table.table
            tr
              th Month
              th.td-spacer
              th Jan
              th Feb
              th Mar
              th Apr
              th May
              th Jun
              th Jul
              th Aug
              th Sep
              th Oct
              th Nov
              th Dev
            tr
              td.td-header Windy days, %
              td.td-spacer
              td 40
              td 55
              td 60
              td 65
              td 45
              td 45
              td 45
              td 40
              td 35
              td 35
              td 45
              td 50
            tr
              td.td-header Wind direction
              td.td-spacer
              td 
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
              td
                .wind-direction.wind-direction-4
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
              td 
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-3
              td
                .wind-direction.wind-direction-2
              td
                .wind-direction.wind-direction-4
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-1
              td
                .wind-direction.wind-direction-2
            tr
              td.td-header KA rating
              td.td-spacer
              td 
              td 
              td 
              td 
              td 
              td
                i.fa.fa-star-o
              td
                i.fa.fa-star-o
              td
                i.fa.fa-star-o
              td 
              td 
              td 
              td 
        p.table-caption Based on 
          a.js many sources
          | .
        h2 Kitesurfing regions of Portugal
        h3 Lisbon area
        p Vibrant nighlife of Lisbon does mix well with variety of spots around it.
        p 
          a(href="spot.html") Guincho
          |  is very popular among surfers and gets crowded when swell is good. Beautiful scenery with Sintra mountain, it is one of greatest looking spot for sure. Condition is tough, since beach is not very wide, there is a rock in the middle and rocks on the end. When swell is there it can be really huge.
        p 
          a(href="spot.html") Carcavelos
          |  works on eastern winds when on Guincho it is too much.
        p 
          a(href="spot.html") Costa da Caparica
          |  has kilometers of wide empty beaches. Here you get smaller swell and smaller wind, which is good for many days here.
        h2 Climate
        h3 Lisbon climate chart
        .table-responsive
          table.table
            tr
              th Month
              th.td-spacer
              th Jan
              th Feb
              th Mar
              th Apr
              th May
              th Jun
              th Jul
              th Aug
              th Sep
              th Oct
              th Nov
              th Dev
            tr
              td.td-header Water, °C
              td.td-spacer
              td 16
              td 15
              td 15
              td 16
              td 17
              td 19
              td 19
              td 20
              td 20
              td 20
              td 18
              td 16
            tr
              td.td-header Air average high, °C
              td.td-spacer
              td 15
              td 16
              td 19
              td 20
              td 22
              td 26
              td 28
              td 28
              td 27
              td 23
              td 18
              td 15
            tr
              td.td-header Air daily mean, °C
              td.td-spacer
              td 12
              td 13
              td 15
              td 16
              td 18
              td 21
              td 23
              td 24
              td 22
              td 19
              td 15
              td 12
            tr
              td.td-header Air average low, °C
              td.td-spacer
              td 8
              td 9
              td 11
              td 12
              td 14
              td 17
              td 18
              td 19
              td 18
              td 15
              td 12
              td 9
            tr
              td.td-header Rainy days
              td.td-spacer
              td 15
              td 15
              td 13
              td 12
              td 8
              td 5
              td 2
              td 2
              td 6
              td 11
              td 14
              td 14
            tr
              td.td-header 
                .visible-xs-inline.visible-sm-inline Sunshine, hrs
                .visible-md-inline.visible-lg-inline Daily sunshine, hours
              td.td-spacer
              td 5
              td 5
              td 7
              td 8
              td 10
              td 10
              td 12
              td 12
              td 9
              td 7
              td 5
              td 5
        p.table-caption Based on 
            a(href="https://en.wikipedia.org/wiki/Climate_of_Lisbon") Wikipedia data
            | .
    .row
      .col-xs-12
        h2 Comments
        +comments-list