block append init

extends default.jade

block title
  title Europe kitesurfing guide | Kitearound

block content
  .container-fluid.container-st
    +share-widget(false, { tags: false })
    .row
      .col-xs-12
        h1 Europe kitesurfing guide
        p You can find everything you need in Europe — strong winds, flat waters and good waves. Incredible scenery with rich cultural legacy is making this continent one of the most interesting for kiting.
        .promo-country
          .promo-country-content
            .row
              .col-xs-8
                a(href="spot-list-country.html")
                  h2 Portugal
              .col-xs-4.text-right
                a(href="spot-list-country.html")
                  +like-count(40)
            .row
              .col-xs-12
                .guide-infographic
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 459
                      .guide-infographic-desc spots
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 34
                      .guide-infographic-desc kiteschools
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 12
                      .guide-infographic-desc locals
            .row
              .col-xs-12
                p 
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Guincho
                  |  photo by Toby Bromwich
          .promo-country-img(style="background: url('img/content/spot-04.jpg') no-repeat center center;")
        .promo-country-desc
          .row
            .col-sm-8
              h3 Description
              p Portugal is Mecca for all European wave riding lovers. Blessed with Atlantic swell and reliable wind system, its best season is summer.
            .col-sm-4
              h3 Popular spots
              ul.list-unstyled
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Guincho
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Costa da Caparica
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Supertubos
        .promo-country
          .promo-country-content
            .row
              .col-xs-8
                a(href="spot-list-country.html")
                  h2 Spain
              .col-xs-4.text-right
                a(href="spot-list-country.html")
                  +like-count(34)
            .row
              .col-xs-12
                .guide-infographic
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 23
                      .guide-infographic-desc spots
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 12
                      .guide-infographic-desc kiteschools
                  .guide-infographic-col
                    a(href="spot-list-country.html")
                      .guide-infographic-num 7
                      .guide-infographic-desc locals
            .row
              .col-xs-12
                p 
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Tarifa
                  |  photo by Erin Brokovich
          .promo-country-img(style="background: url('img/content/spot-05.jpg') no-repeat center center;")
        .promo-country-desc
          .row
            .col-sm-8
              h3 Description
              p Spain has the strongest wind in whole Europe. Very challenging conditions for confident riders are here.
            .col-sm-4
              h3 Popular spots
              ul.list-unstyled
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Tarifa
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;El Medano
                li
                  a(href="spot.html")
                    i.fa.fa-map-marker
                    | &nbsp;Fuerteventura
    .row
      .col-xs-12
        h2 Comments
        +comments-list