block append init

extends default.jade

block title
	title Kitesurfing spots atlas | Kitearound

block content
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Kitesurfing spots atlas
				p If you are looking for your next kitesurfing destination, this is the guide for you. You can find detailed information with wind statistics and photos about many spots. Catalog is user-generated, so we are welcoming contribution from all kitesurfers. Feel free to share your information and contribute to community knowledge.
				p Also you can check 
					a(href="spot-list-near.html") kitesurfing spots near your location
					| .
		.row
			.col-xs-12
				a(href="continent.html")
					h2 Europe kitesurfing
		.row
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 459
					.guide-infographic-desc spots
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 16
					.guide-infographic-desc countries
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 34
					.guide-infographic-desc kiteschools
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 12
					.guide-infographic-desc locals
			.col-xs-12
				p It is all started here in France, where modern kites were pioneered by brothers Legaignoux! You can find everything you need in Europe — strong winds, flat waters and good waves. Incredible scenery with rich cultural legacy is making this continent one of the most interesting for kiting.
				+photo-gallery
		.row
			.col-xs-12
				a(href="continent.html")
					h2 East Asia kitesurfing
		.row
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 201
					.guide-infographic-desc spots
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 7
					.guide-infographic-desc countries
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 16
					.guide-infographic-desc kiteschools
			.col-xs-6.col-sm-3
				.guide-infographic
					.guide-infographic-num 9
					.guide-infographic-desc locals
			.col-xs-12
				p If you dream about kitesurfing in sunny warm conditions, Asia has all to offer to you. Very popular winter holiday destinations are here.
				+photo-gallery