block append init
	- var bodyclass = "page-marginless"
	- var header_overlay = true

extends default.jade

block title
	title Kitesurfing spots near you | Kitearound

block content
	.container-fluid.fullw.map.map-country#spot-location-map(data-lat='10.945736510951978', data-lng='108.20295614624024', data-zoom='13', data-showmarkers='true')
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Kitesurfing spots near you
				.alert.alert-warning.mgst 
					i.fa.fa-refresh.fa-spin
					|  To help you find the most closest spots, we need to know your location. You should see a browser dialog and answer positive to it.
				.alert.alert-info.mgst User shares his location and page shows following section:
		.row
			.col-sm-6
				+card("spot.html", "Spots", "Malibu", "black", "img/content/spot-05.jpg")
			.col-sm-6
				p 
					a(href="spot.html") Malibu (15 km)
					|  has up to overhead waves with beachbreak and lonely beaches. In certain condition (very small or very big waves) it gives great condition for freestyle and kiteloop sessions, because you can find big flat areas between waves.
		.row
			.col-sm-6
				+card("spot.html", "Spots", "Turtle Island", "black", "img/content/spot-06.jpg")
			.col-sm-6
				p 
					a(href="spot.html") Turtle Island (30 km)
					|  has lonely beautiful location with sand dunes, small waves and sometimes stronger winds.
		.row
			.col-sm-6
				+card("spot.html", "Spots", "Phan Rang", "black", "img/content/spot-04.jpg")
			.col-sm-6
				p 
					a(href="spot.html") Phan Rang (200 km)
					|  has many bays with flat lagoons, protected with coral reef. On the reef you can experience one of the best waves in the region.