block append init
	- var bodyclass = "page-marginless"
	- var header_overlay = true

extends default.jade

block title
	title Kiteschool Tarifa | Kitearound

block content
	.container-fluid.fullw.map.map-country#spot-location-map(data-lat='36.006265637124606', data-lng='-5.608698977386439')
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Kiteschool Tarifa
				p If you need to find a proper kiteschool in Tarifa, look no further. Here we have full list of all schools, that capable to teach you 
					strong kitesurfing lessons in Tarifa
					| . You will be able to learn piloting kite, waterstart and other basics of this exciting sport.
				p If you want to be sure of wind, sun and adventure then Tarifa is the ideal location. Perfect wind and wave conditions, combined with the beautiful sandy beaches of Los Lances, Valdevaqueros, and Punta Paloma, all with the amazing mountainous back drop of Morocco. Learn more about 
					a(href="spot.html") Tarifa
					| .
				h2 Kitesurfing schools in Tarifa
				p Established kiteschools have professional instructors and great experience in teaching people to kitesurf. It is your best choice to learn kitesurfing in a kiteschool.
				+schools-table
				h2 Independent kitesurfing instructors in Tarifa
				p An independent instructor can offer better pricing and personal approach to your learning. But also can be more risky choice due lack of training and experience.
				table.table
					tr
						th Name
						th Price for 1 hour
						th KA rating
						th Certificate
					tr
						td 
							a(href="user.html") Graham Goodwin
						td 30€
						td +45
						td
							img(src="img/icons/iko.svg").img-iko
					tr
						td 
							a(href="user.html") Chialvo
						td 35€
						td +25
						td —
					tr
						td 
							a(href="user.html") Flavio
						td 40€
						td +12
						td
							img(src="img/icons/iko.svg").img-iko
					tr
						td 
							a(href="user.html") Gerardo Leal
						td 45€
						td +4
						td —
				h2 Read more
		.row
			.col-sm-6
				+card("spot.html", "Spots", "Mui Ne spot guide", "black", "img/content/spot-05.jpg")
			.col-sm-6
				+card("spot-list-country.html", "Spots", "Vietnam guide", "black", "img/content/spot-04.jpg")