block append init

extends default.jade

block title
	title Portugal kitesurfing | Kitearound

block content
	.container-fluid.container-st
		.row
			.col-xs-12
				h1 Treemap
				+photo-gallery
				.container-no-padding
					h2 1 image
					.img-treemap.img-treemap-1(itemscope='', itemtype='http://schema.org/ImageGallery')
						+photo-gallery-item("img/content/spot-04.jpg", 1000, 556, "Guincho kitesurfing", "Lonely guy with a kite")
						.clearfix
					h2 2 images
					.img-treemap.img-treemap-2(itemscope='', itemtype='http://schema.org/ImageGallery')
						+photo-gallery-item("img/content/spot-04.jpg", 1000, 556, "Guincho kitesurfing", "Lonely guy with a kite")
						+photo-gallery-item("img/content/spot-05.jpg", 1000, 750, "Guincho kitesurfing", "Beach overview")
						.clearfix
					h2 3 images
					.img-treemap.img-treemap-3(itemscope='', itemtype='http://schema.org/ImageGallery')
						+photo-gallery-item("img/content/spot-04.jpg", 1000, 556, "Guincho kitesurfing", "Lonely guy with a kite")
						+photo-gallery-item("img/content/spot-05.jpg", 1000, 750, "Guincho kitesurfing", "Beach overview")
						+photo-gallery-item("img/content/spot-06.jpg", 1280, 854, "Guincho kitesurfing", "Some guy shredding")
						.clearfix
					h2 4 images
					.img-treemap.img-treemap-4(itemscope='', itemtype='http://schema.org/ImageGallery')
						+photo-gallery-item("img/content/spot-04.jpg", 1000, 556, "Guincho kitesurfing", "Lonely guy with a kite")
						+photo-gallery-item("img/content/spot-05.jpg", 1000, 750, "Guincho kitesurfing", "Beach overview")
						+photo-gallery-item("img/content/spot-06.jpg", 1280, 854, "Guincho kitesurfing", "Some guy shredding")
						+photo-gallery-item("img/content/spot-07.jpg", 560, 344, "Guincho kitesurfing", "Another guy shredding")
						.clearfix
					h2 5 images
					.img-treemap.img-treemap-5(itemscope='', itemtype='http://schema.org/ImageGallery')
						+photo-gallery-item("img/content/spot-04.jpg", 1000, 556, "Guincho kitesurfing", "Lonely guy with a kite")
						+photo-gallery-item("img/content/spot-05.jpg", 1000, 750, "Guincho kitesurfing", "Beach overview")
						+photo-gallery-item("img/content/spot-06.jpg", 1280, 854, "Guincho kitesurfing", "Some guy shredding")
						+photo-gallery-item("img/content/spot-04.jpg", 1000, 556, "Guincho kitesurfing", "Lonely guy with a kite")
						+photo-gallery-item("img/content/spot-07.jpg", 560, 344, "Guincho kitesurfing", "Another guy shredding")
						.clearfix
