extends default.jade

block title
  title Blind Judge kitesurfing - how to | Kitearound

block content
  .container-fluid.container-st
    +share-widget(false, { pinterest: false, tags: false, votes: false })
    .row
      .col-xs-12
        h1 Blind Judge
        p Blind Judge (aka BJ) is a 
          a(href="trick.html") unhooked
          |  
          a(href="trick.html") heelside
          |  
          a(href="trick.html") raley-based
          |  trick with a 180° 
          a(href="trick.html") front-side rotation
          |  and 
          a(href="trick.html") handlepass
          |  in the air landing 
          a(href="trick.html") toeside
          | .
        h2 How to Blind Judge
        .heading-vote
          h3 Blind Judge - Kitesurfing Tips with Aaron Hadlow
          +social-votes("453")
        .video
          iframe(src='https://www.youtube.com/embed/OAXEfdVEI_8?showinfo=0&color=white&modestbranding=1&theme=light&color=white&rel=0&fs=1&rel=0', frameborder='0', allowfullscreen)
      .col-xs-12
        .heading-vote
          h3 How to do a Blind Judge
          +social-votes("256")
        .video
          iframe(src='https://www.youtube.com/embed/Q_fCq6pPJVc?showinfo=0&color=white&modestbranding=1&theme=light&color=white&rel=0&fs=1&rel=0', frameborder='0', allowfullscreen)
      .col-xs-12
        h2 Blind Judge steps
        ol.ul-spreaded
          li Get a moderate speed
          li Keep your kite powered at 45°
          li Go downwind
          li Unhook
          li Pop into a 
            a(href="trick.html") Raley
          li While in the air
            ul
              li Keep your hands bent to make pass easier
              li Bend your legs to make rotation faster
              li Make a 180° rotation front-side
              li Pass the bar while in the air
          li Land toeside
      .col-xs-12
        h2 Tricks before
        p Make sure you can easily do following tricks:
    .row
      .col-sm-6
        +card("trick.html", "Handlepasses", "Raley to Blind", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Pop to Blind", "trick", "img/content/trick-02.jpg", 7, 89)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Surface handlepass 360°", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Handlepass 180° on a swing rope", "trick", "img/content/trick-02.jpg", 7, 89)
      .col-xs-12
        p Also good to practice:
      .col-sm-6
        +card("trick.html", "Handlepasses", "Dangle pass", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Riding blind hooked-in", "trick", "img/content/trick-02.jpg", 7, 89)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Crypt", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-xs-12
        h2 Tricks after
      .col-sm-6
        +card("trick.html", "Handlepasses", "Blind Judge 3", "trick", "img/content/trick-01.jpg", 5, 10)
    .row
      .col-xs-12
        h2 Comments
        +comments-list