block append init

extends default.jade

block title
  title Kitesurfing tricks and skills | Kitearound

block content
  .container-fluid.container-st
    .row
      +share-widget(false, { pinterest: false, comments: false, tags: false, votes: false })
      .col-xs-12
        h1 Kitesurfing tricks and skills
        p Kitesurfing has developed into many distinct styles of riding. Each of style has selection of different tricks, we will cover that in detail. Our catalog is based on riders feedback and contribution. Feel free to modify and add tricks to our list.
        h3 Find a trick/skill
      .col-sm-6
        .form-group
          input#find-trick.form-control.main-form-email(type='email', placeholder='Enter a trick/skill name')
      .col-sm-6
        select.selectpicker(data-live-search="true", data-width="100%", multiple, data-selected-text-format="count", data-title="Tags", data-count-selected-text="{0} tags")
          optgroup(label="Air")
            option Kite moving
            option Kite static
          option Unhooked
          optgroup(label="Rotation")
            option Backside
            option Frontside
            option 180°
            option 360°
            option 540°
            option 720°
          optgroup(label="Strapless directional")
            option Surface
            option Air
            option On a wave
            option Frontside (wave)
            option Backside (wave)
          optgroup(label="Kiteloop")
            option Kiteloop
            option Downloop
          optgroup(label="Heelside / Toeside")
            option Heelside launch
            option Heelside landing
            option Toeside launch
            option Toeside landing
          optgroup(label="Grabs / board")
            option Grabbed
            option Inverted
      .col-sm-12
        h2 General skills
      .col-sm-6
        +card("trick.html", "General skills", "Launching a kite", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "General skills", "Riding blind", "trick", "img/content/trick-02.jpg", 7, 89)
      .col-sm-12
        h2 Handlepasses
      .col-sm-6
        +card("trick.html", "Handlepasses", "Blind Judge", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "Handlepasses", "KGB", "trick", "img/content/trick-02.jpg", 7, 89)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Moby Dick", "trick", "img/content/trick-01.jpg", 5, 10)
      .col-sm-6
        +card("trick.html", "Handlepasses", "Triple S-Bend to Blind with grab", "trick", "img/content/trick-02.jpg", 7, 89)