block append init
	- var bodyclass = "page-marginless"
	- var header_overlay = true

extends default.jade

block title
	title Frank Kitelooper | Kitearound

block content
	.fullw.inverted.promo.promo-user(style="background: url('img/content/user-bg-01.jpg') no-repeat center center; background-size: cover;")
		.container-fluid
			.row
				img(src="img/content/user03.jpg").user-pic
	.container-fluid.container-st
		+share-widget(false, { pinterest: false, comments: false, tags: false })
		.row
			.col-xs-12
				h1 Frank Kitelooper Crazy Mister F16
			.col-md-6
				h2 Features
				ul.fa-ul.ul-common.ul-common-info
					li
						i.fa-li.fa.fa-trophy
						|  Karma Top10
					li
						i.fa-li.fa.fa-suitcase
						|  Professional rider for 
						a(href="brand.html") North Kiteboarding
					li
						i.fa-li.fa.fa-gears
						|  Site developer
					li
						i.fa-li.fa.fa-comments-o
						|  Active discussion
					li
						i.fa-li.fa.fa-heart
						|  Paid user
					li
						i.fa-li.fa.fa-clock-o
						|  1274th registered
					li
						i.fa-li.fa.fa-edit
						|  Active editor
					li
						i.fa-li.fa.fa-mortar-board
						|  Instructor at 
						a(href="school.html") Willy Willy kiteschool
					li
						i.fa-li.fa.fa-anchor
						|  KA Beach-marshall at 
						a(href="spot.html") Kitebeach (RU)
					li
						i.fa-li.fa.fa-shopping-cart
						|  Seller at 
						a(href="shop.html") Africa Shop (VN)
					li
						i.fa-li.fa.fa-video-camera
						|  Active videographer
			.col-md-6
				h2 Local spots
				ul.fa-ul.ul-common.ul-common-info
					li
						i.fa-li.fa.fa-map-marker
						a(href="spot.html") Malibu (Phan Thiet, Vietnam)
					li
						i.fa-li.fa.fa-map-marker
						a(href="spot.html") Kitebeach (Kaliningrad, Russia)
				h2 Contact info
				ul.fa-ul.ul-common.ul-common-info
					li
						i.fa-li.fa.fa-envelope-square
						a(href="mailto:willywillyschool@gmail.com") willywillyschool@gmail.com
					li
						i.fa-li.fa.fa-phone-square
						a(href="tel:+841276501527") +841276501527
					li
						i.fa-li.fa.fa-skype
						a(href="skype:shurella666") shurella666
				h2 Brands I like
				ul.ul-brands
					li
						a(href="user.html").user-block
							img(src="img/content/user04.jpg").user-pic
							.user-name-karma
								.user-name North kiteboarding
								| &nbsp;
								.user-karma 125
					li
						a(href="user.html").user-block
							img(src="img/content/user05.jpg").user-pic
							.user-name-karma
								.user-name Mystic
								| &nbsp;
								.user-karma 70
					li
						a(href="user.html").user-block
							img(src="img/content/user06.jpg").user-pic
							.user-name-karma
								.user-name Tona
								| &nbsp;
								.user-karma 42