block append init

extends default.jade

block title
	title Kitesurfing videos | Kitearound

block content
	.container-fluid.container-st
		.video-list
			.row
				.col-xs-12
					h1 Kitesurfing videos
				.col-sm-6
					+card("video.html", "Video", "PKRA finals 2015 Dakhla", "black", "img/content/spot-05.jpg", "4.5k", "10")
				.col-sm-6
					+card("video.html", "Video", "Red Bull King of the Air highlights", "black", "img/content/post-01.jpg", undefined, "10")
			.row
				.col-sm-6
					+card("video.html", "Video", "Best of woman kiteboarding", "black", "img/content/school-promo.jpg", "4.5k")
				.col-sm-6
					+card("video.html", "Video", "New kite from Tona", "black", "img/content/spot-01.jpg")