block append init

extends default.jade

block title
	title 2014 Hainan Quarterfinals Single Elimination Zoon vs Neto | Kitearound

block content
	.container-fluid.fullw.container-video
		a.js.control-prev
			i.fa.fa-angle-left
		.video-wrapper
			.video
				iframe(src='https://www.youtube.com/embed/ujLrtOXg0A8?showinfo=0&color=white&modestbranding=1&theme=light&color=white&rel=0&fs=1&rel=0', frameborder='0', allowfullscreen)
		a.js.control-next
			i.fa.fa-angle-right
	.container-fluid.bgst
		+share-widget
		.row
			.col-xs-12
				h1 2014 Hainan Quarterfinals Single Elimination Zoon vs Neto
				p This 21 year old kitesurfer has been kiting since 2006 and began foiling in 2009. Maxime hails from the South of France, from Fréjus more exactly, a place where he can train every weekend. Determined and hardworking, he has been collecting titles since the beginning as he was already Vice European Junior Champion in Freestyle category in 2006 and has carried on the same path since. He holds several titles of French Champion and won the 1st place in the World Championship in foil last year into the under 21 year old category.
	.container-fluid.bgst
		.row
			.col-xs-12
				.mgst3x
					+user-karma-timestamp
					hr
				.mgst
					+tag-list(true)
				h2 More  
					span.tag wakestyle
					|  videos
		.video-list
			.row
				.col-sm-6
					+card("video.html", "Video", "PKRA finals 2015 Dakhla", "black", "img/content/spot-05.jpg", "4.5k", "10")
				.col-sm-6
					+card("video.html", "Video", "Red Bull King of the Air highlights", "black", "img/content/post-01.jpg", undefined, "10")
			.row
				.col-sm-6
					+card("video.html", "Video", "Best of woman kiteboarding", "black", "img/content/school-promo.jpg", "4.5k")
				.col-sm-6
					+card("video.html", "Video", "New kite from Tona", "black", "img/content/spot-01.jpg")
			.row
				.col-xs-12
					hr.hr-video
		.row
			.col-xs-12
				h2 Comments 105
				+comments-list